/* =========================================================================
   Home | Hero
   ========================================================================= */

/* Styles the Hero section */
#hero {
  display: none;

  /* Styles for medium and up devices */
  @include breakpoint($mq_medium) {
    background: $blue url('/img/home/hero_background.jpg') fixed;
    background-size: cover;
    color: $yellow;
    display: block;
    height: 95%;
  }

  /* Styles for the hero (textured) overlay */
  .hero_overlay {
    background: url('/img/home/hero_texture.png') fixed;
    height: 95%;
    height: 95vh;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }

  /* Styles for the hero arrow (down pointing) */
  .hero_arrow {
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
    border-top: 32px solid rgb(16, 30, 67);
    bottom: -32px;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -32px;
    position: absolute;
    width: 0;
  }

  /* Styles for the animated hero section */
  .hero-animate {
    position: relative;
    text-align: center;

    /* Vertical align 45% from top */
    @include vertical-align(45%);

    /* Styles for hero taglines (5 of them) */
    .tagline {
      display: none;
      font-size: 5rem;
      line-height: 1;
    }

    /* Styles for Learn More button */
    .learn-more {
      opacity: 0;
      position: relative;
      text-align: center;
      top: 5em;

      /* Styles for button */
      .btn {
        @include button-hover($yellow, $blue);
      }
    }
  }
}
