---
layout: portfolio
next: wgi-intranet
next_title: WGI Intranet
previous: ms-omearas-multiage
previous_title: Ms. O'Meara's Multiage
title: jahleh-and-patricks-wedding
name: Jahleh + Patrick's Wedding
roles: UI, Full-Stack
technologies: Google App Engine (Python)
description: My wife, <a class="underline" href="http://marie.hoopr.io" target="_blank">Marie</a>, and I wanted an awesome way to be able to see information about our wedding, check our registry, RSVP, and sign our guestbook. So, we did what we love and built a website for it!
---

<article class="portfolio-page {{ page.title }}">
  <div class="grid-container">
    <div class="project_summary">
      <h2 class="title">{{ page.name }}</h2>
      <div class="project_photos grid-100 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="wedding.hoopr.io" image="portfolio_jahleh-and-patricks-wedding_preview_20150426" extension="jpg" %}
        {% include phone.html image="portfolio_jahleh-and-patricks-wedding_preview_mobile_20150426" extension="jpg" alt="| Mobile" class="grid-30 tablet-grid-30 mobile-grid-30" %}
      </div>
      <h3 class="subtitle">{ OVERVIEW }</h3>
      <p class="project_roles"><strong>Roles:</strong> {{ page.roles }}</p>
      <p class="project_tech"><strong>Technologies:</strong> {{ page.technologies }}</p>
      <p class="project_description">{{ page.description }}</p>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-33 push-66 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ OUR STORY }</h3>
        <p>We really wanted to emphasize how we got here and how much fun we've had along the way in a creative, visual way. So we pulled together a bunch of our favorite pictures to help us out, wrote some (clever?) taglines, and played connect the dots.</p>
      </div>
      <div class="section_photos grid-66 pull-33 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="wedding.hoopr.io" image="portfolio_jahleh-and-patricks-wedding_20150428" extension="jpg" alt="| Our Story" scroll="scroll" %}
      </div>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-33 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ WEDDING }</h3>
        <p>We needed a spot to provide actual details about the wedding to guests (kind of important, I guess). So we put that all here, including when, where, some pretty photos, and interesting travel information about the location.</p>
      </div>
      <div class="section_photos grid-66 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="wedding.hoopr.io/details" image="portfolio_jahleh-and-patricks-wedding_wedding_20150428" extension="jpg" alt="| Details" scroll="scroll" %}
      </div>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-33 push-66 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ RSVP }</h3>
        <p>Each invitation sent out had a personalized code attached. The invitee could then enter this code in the RSVP form to bring up their name and the name of their +1, where applicable. To finalize their RSVP, it was as simple as checking the box if they were attending and then clicking submit. Easy breezy.</p>
      </div>
      <div class="section_photos grid-66 pull-33 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="wedding.hoopr.io/rsvp" image="portfolio_jahleh-and-patricks-wedding_rsvp_20150428" extension="jpg" alt="| RSVP" scroll="scroll" %}
      </div>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-33 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ GUESTBOOK }</h3>
        <p>For a little extra fun, we added an online guestbook to our site. Just fill out the form, click sign, and your name and message are forever embodied in our digital wedding archive. Sweet deal.</p>
      </div>
      <div class="section_photos grid-66 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="wedding.hoopr.io/guestbook" image="portfolio_jahleh-and-patricks-wedding_guestbook_20150428" extension="jpg" alt="| Guestbook" scroll="scroll" %}
      </div>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-100 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ MOBILE }</h3>
      </div>
      <div class="section_photos photos-mobile grid-100">
       {% include phone.html image="portfolio_jahleh-and-patricks-wedding_mobile_20150428" extension="jpg" class="mobile" alt="| Our Story | Mobile" scroll="scroll" %}
       {% include phone.html image="portfolio_jahleh-and-patricks-wedding_wedding_mobile_20150428" extension="jpg" class="mobile" alt="| Details | Mobile" scroll="scroll" %}
       {% include phone.html image="portfolio_jahleh-and-patricks-wedding_guestbook_mobile_20150428" extension="jpg" class="mobile" alt="| Guestbook | Mobile" scroll="scroll" %}
      </div>
    </div>
  </div>
</article>
