---
layout: portfolio
next: ms-omearas-multiage
next_title: Ms. O'Meara's Multiage
previous: wgi-buzz
previous_title: wgi.buzz
title: florida-engineering-society-treasure-coast
name: Florida Engineering Society - Treasure Coast
roles: UI, UX, Full-Stack
technologies: WordPress + <a class="text-decor-underline" href="http://www.elegantthemes.com/gallery/divi/" target="_blank">Divi</a>
description: The good people of the Treasure Coast Chapter of the Florida Engineering Society (TCFES) were seeking a refreshed look and feel for their chapter website. They got just that (and more).
browser_url: tcfes.org
browser_image: portfolio_florida-engineering-society-treasure-coast_preview_20150426.jpg
phone_image: portfolio_florida-engineering-society-treasure-coast_preview_mobile_20150426.jpg
---

<article class="portfolio-page {{ page.title }}">
  <div class="grid-container">
    <div class="project_summary">
      <h2 class="title center-align font-size-2_5 padding-bottom-1_5">{{ page.name }}</h2>
      <div class="project_photos position-relative grid-100">
        {% include browser.html %}
        {% include phone.html %}
      </div>
      <h3 class="title center-align font-size-2 padding-bottom-1_5">{ OVERVIEW }</h3>
      <p class="project_roles"><strong>Roles:</strong> {{ page.roles }}</p>
      <p class="project_tech padding-bottom-1_5"><strong>Technologies:</strong> {{ page.technologies }}</p>
      <p class="project_description">{{ page.description }}</p>
      <div class="view-project center-align">
        <a class="btn cursor-pointer display-inline-block font-fam-ubuntu font-size-1_5" href="http://tcfes.org" target="_blank">Go to Live Site <span class="fa fa-angle-right"></span></a>
      </div>
    </div>
    <div class="project_section grid-100 grid-parent">
      <div class="section_description grid-33 push-66">
        <h3 class="title center-align font-size-2 padding-bottom-1_5">{ HOME }</h3>
        <p>The home page was used to showcase the most important information from TCFES: upcoming events, news, and chapter photos. Chapter photos fade in as they come into focus for a little something extra.</p>
      </div>
      <div class="section_photos grid-66 pull-33">
        <div class="browser border-2-gray border-radius-4">
          <div class="browser_controls padding-0_5-0 position-relative">
            <ul class="browser_buttons center-align display-inline-block">
              <li class="browser_button first border-radius-50p display-inline-block"></li>
              <li class="browser_button second border-radius-50p display-inline-block"></li>
              <li class="browser_button third border-radius-50p display-inline-block"></li>
            </ul>
            <span class="browser_url border-2-gray border-radius-4 display-inline-block font-size-1 position-absolute">tcfes.org</span>
          </div>
        <div class="browser_photo clearfix">
          <img class="float-left max-width-100p lazy" data-src="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_20150427.jpg" data-src-retina="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_20150427@2x.jpg" alt="{{ page.name }} | Home">
          <noscript><img class="float-left max-width-100p" src="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_20150427.jpg" alt="{{ page.name }} | Home"></noscript>
        </div>
      </div>
      </div>
    </div>
    <div class="project_section grid-100 grid-parent">
      <div class="section_description grid-33">
        <h3 class="title center-align font-size-2 padding-bottom-1_5">{ NEWSLETTER }</h3>
        <p>Since 2002, TCFES has regularly created and sent out a newsletter. Previously they were posting these as lists of links with super old files zipped up into one archive. The organization and presentation of these links was reformatted into vertical tabs for each year, making all those newsletters accessible in an easy-to-use, digestable format.</p>
      </div>
      <div class="section_photos grid-66">
        <div class="browser border-2-gray border-radius-4">
          <div class="browser_controls padding-0_5-0 position-relative">
            <ul class="browser_buttons center-align display-inline-block">
              <li class="browser_button first border-radius-50p display-inline-block"></li>
              <li class="browser_button second border-radius-50p display-inline-block"></li>
              <li class="browser_button third border-radius-50p display-inline-block"></li>
            </ul>
            <span class="browser_url border-2-gray border-radius-4 display-inline-block font-size-1 position-absolute">tcfes.org/newsletter</span>
          </div>
        <div class="browser_photo clearfix">
          <img class="float-left max-width-100p lazy" data-src="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_newsletter_20150427.jpg" data-src-retina="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_newsletter_20150427@2x.jpg" alt="{{ page.name }} | Newsletter">
          <noscript><img class="float-left max-width-100p" src="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_newsletter_20150427.jpg" alt="{{ page.name }} | Newsletter"></noscript>
        </div>
      </div>
      </div>
    </div>
    <div class="project_section grid-100 grid-parent">
      <div class="section_description grid-33 push-66">
        <h3 class="title center-align font-size-2 padding-bottom-1_5">{ BOARD MEMBERS }</h3>
        <p>TCFES board members and their information were previously displayed in a straight HTML table. Obviously, that changed. Members with available pictures got a small logo overlay representing their college, and those without just got a big logo. Information was presented in a clean, simple grid.</p>
      </div>
      <div class="section_photos grid-66 pull-33">
        <div class="browser border-2-gray border-radius-4">
          <div class="browser_controls padding-0_5-0 position-relative">
            <ul class="browser_buttons center-align display-inline-block">
              <li class="browser_button first border-radius-50p display-inline-block"></li>
              <li class="browser_button second border-radius-50p display-inline-block"></li>
              <li class="browser_button third border-radius-50p display-inline-block"></li>
            </ul>
            <span class="browser_url border-2-gray border-radius-4 display-inline-block font-size-1 position-absolute">tcfes.org/board-members</span>
          </div>
        <div class="browser_photo clearfix">
          <img class="float-left max-width-100p lazy" data-src="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_board-members_20150427.jpg" data-src-retina="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_board-members_20150427@2x.jpg" alt="{{ page.name }} | Board Members">
          <noscript><img class="float-left max-width-100p lazy" src="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_board-members_20150427.jpg" alt="{{ page.name }} | Board Members"></noscript>
        </div>
      </div>
      </div>
    </div>
    <div class="project_section grid-100 grid-parent">
      <div class="section_description grid-33">
        <h3 class="title center-align font-size-2 padding-bottom-1_5">{ EVENTS }</h3>
        <p>TCFES wanted a better event tracking system. The solution gave them that, allowing them to easily input event details, save locations, and search based on various fields/location.</p>
      </div>
      <div class="section_photos grid-66">
        <div class="browser border-2-gray border-radius-4">
          <div class="browser_controls padding-0_5-0 position-relative">
            <ul class="browser_buttons center-align display-inline-block">
              <li class="browser_button first border-radius-50p display-inline-block"></li>
              <li class="browser_button second border-radius-50p display-inline-block"></li>
              <li class="browser_button third border-radius-50p display-inline-block"></li>
            </ul>
            <span class="browser_url border-2-gray border-radius-4 display-inline-block font-size-1 position-absolute">tcfes.org/events</span>
          </div>
        <div class="browser_photo clearfix">
          <img class="float-left max-width-100p lazy" data-src="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_events_20150427.jpg" data-src-retina="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_events_20150427@2x.jpg" alt="{{ page.name }} | Events">
          <noscript><img class="float-left max-width-100p" src="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_events_20150427.jpg" alt="{{ page.name }} | Events"></noscript>
        </div>
      </div>
      </div>
    </div>
    <div class="project_section grid-100 grid-parent">
      <div class="section_description grid-100">
        <h3 class="title center-align font-size-2 padding-bottom-1_5">{ MOBILE }</h3>
      </div>
      <div class="section_photos center-align grid-100">
        <div class="phone mobile border-2-gray">
          <div class="phone_top center-align">
            <div class="phone_camera"><span class="border-radius-50p display-inline-block"></span></div>
            <div class="phone_top-parts"><span class="phone_sensor border-radius-50p display-inline-block"></span><span class="phone_speaker border-radius-4 display-inline-block"></span></div>
          </div>
          <div class="clearfix phone_photo border-2-gray overflow-y-auto">
            <img class="float-left max-width-100p lazy" data-src="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_mobile_20150427.jpg" data-src-retina="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_mobile_20150427@2x.jpg" alt="{{ page.name }} | Home | Mobile">
            <noscript><img class="float-left max-width-100p" src="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_mobile_20150427.jpg" alt="{{ page.name }} | Home | Mobile"></noscript>
          </div>
          <div class="phone_bottom center-align">
            <div class="phone_button"><span class="border-2-gray border-radius-50p display-inline-block"></span></div>
          </div>
        </div>
        <div class="phone mobile border-2-gray">
          <div class="phone_top center-align">
            <div class="phone_camera"><span class="border-radius-50p display-inline-block"></span></div>
            <div class="phone_top-parts"><span class="phone_sensor border-radius-50p display-inline-block"></span><span class="phone_speaker border-radius-4 display-inline-block"></span></div>
          </div>
          <div class="clearfix phone_photo border-2-gray overflow-y-auto">
            <img class="float-left max-width-100p lazy" data-src="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_newsletter_mobile_20150427.jpg" data-src-retina="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_newsletter_mobile_20150427@2x.jpg" alt="{{ page.name }} | Newsletter | Mobile">
            <noscript><img class="float-left max-width-100p" src="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_newsletter_mobile_20150427.jpg" alt="{{ page.name }} | Newsletter | Mobile"></noscript>
          </div>
          <div class="phone_bottom center-align">
            <div class="phone_button"><span class="border-2-gray border-radius-50p display-inline-block"></span></div>
          </div>
        </div>
        <div class="phone mobile border-2-gray">
          <div class="phone_top center-align">
            <div class="phone_camera"><span class="border-radius-50p display-inline-block"></span></div>
            <div class="phone_top-parts"><span class="phone_sensor border-radius-50p display-inline-block"></span><span class="phone_speaker border-radius-4 display-inline-block"></span></div>
          </div>
          <div class="clearfix phone_photo border-2-gray overflow-y-auto">
            <img class="float-left max-width-100p lazy" data-src="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_board-members_mobile_20150427.jpg" data-src-retina="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_board-members_mobile_20150427@2x.jpg" alt="{{ page.name }} | Board Members | Mobile">
            <noscript><img class="float-left max-width-100p" src="/img/portfolio/{{ page.title }}/portfolio_{{ page.title }}_board-members_mobile_20150427.jpg" alt="{{ page.name }} | Board Members | Mobile"></noscript>
          </div>
          <div class="phone_bottom center-align">
            <div class="phone_button"><span class="border-2-gray border-radius-50p display-inline-block"></span></div>
          </div>
        </div>
      </div>
    </div>
</article>
