---
layout: portfolio
next: wgi-buzz
next_title: wgi.buzz
previous: msi
previous_title: MSi
title: jmorton
name: JMorton
roles: UI, UX, Full-Stack
technologies: WordPress + <a class="underline" href="http://www.elegantthemes.com/gallery/divi/" target="_blank">Divi</a>
description: JMorton, a fledgling but bustling planning / landscape architecture company, was looking for website to reflect their character and values in an elegant, professional way. They fell in love with the end result&#58; a simple, content-oriented design that focused on what was important to them, and of course the use of their lovely blue throughout the site.
---

<article class="portfolio-page {{ page.title }}">
  <div class="grid-container">
    <div class="project_summary">
      <h2 class="title">{{ page.name }}</h2>
      <div class="project_photos grid-100 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="jmortonla.com" image="portfolio_jmorton_preview" extension="jpg" %}
        {% include phone.html image="portfolio_jmorton_preview_mobile" extension="jpg" alt="| Mobile" class="grid-30 tablet-grid-30 mobile-grid-30" %}
      </div>
      <h3 class="subtitle">{ OVERVIEW }</h3>
      <p class="project_roles"><strong>Roles:</strong> {{ page.roles }}</p>
      <p class="project_tech"><strong>Technologies:</strong> {{ page.technologies }}</p>
      <p class="project_description">{{ page.description }}</p>
      <div class="view-project">
        <a class="btn" href="http://jmortonla.com" target="_blank">Go to Live Site <span class="fa fa-angle-right"></span></a>
      </div>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-33 push-66 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ HOME }</h3>
        <p>The home page presents visitors with what's most important&#58; a short video accompanied by a little bit of text explaining what JMorton is all about.</p>
      </div>
      <div class="section_photos grid-66 pull-33 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="jmortonla.com" image="portfolio_jmorton" extension="jpg" alt="| Home" %}
      </div>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-33 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ ABOUT US }</h3>
        <p>This page puts faces to names and gives more detailed information about the JMorton team. The black and white photos fit in seamlessly with the clean design and help give it a classic look and feel.</p>
      </div>
      <div class="section_photos grid-66 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="jmortonla.com/about-us" image="portfolio_jmorton_about-us" extension="jpg" alt="| About Us" %}
      </div>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-33 push-66 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ PROJECTS }</h3>
        <p>The project sections highlight photos and project names from the chief areas JMorton does business in. A few choice photos they felt best represented these projects were used, but not too many so the simple, unimposing feel of the site was maintained.</p>
      </div>
      <div class="section_photos grid-66 pull-33 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="jmortonla.com/projects" image="portfolio_jmorton_projects" extension="gif" alt="| Projects" %}
      </div>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-33 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ GIVING BACK }</h3>
        <p>The people at JMorton put a lot of emphasis on community. They wanted to show this and the great organizations they work with, so a news-like feed was organized to hightlight this and give more photos/information about each one.</p>
      </div>
      <div class="section_photos grid-66 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="jmortonla.com/giving-back" image="portfolio_jmorton_giving-back" extension="jpg" alt="| Giving Back" %}
      </div>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-100 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ MOBILE }</h3>
      </div>
      <div class="section_photos photos-mobile grid-100 tablet-grid-100 mobile-grid-100">
        {% include phone.html image="portfolio_jmorton_mobile" extension="jpg" alt="| Home | Mobile" class="mobile" %}
        {% include phone.html image="portfolio_jmorton_projects_mobile" extension="jpg" alt="| Projects | Mobile" class="mobile" %}
        {% include phone.html image="portfolio_jmorton_menu_mobile" extension="jpg" alt="| Menu | Mobile" class="mobile" %}
      </div>
    </div>
  </div>
</article>
