---
layout: portfolio
next: ms-omearas-multiage
next_title: Ms. O'Meara's Multiage
previous: wgi-buzz
previous_title: wgi.buzz
title: florida-engineering-society-treasure-coast
name: Florida Engineering Society - Treasure Coast
roles: UI, UX, Full-Stack
technologies: WordPress + <a class="underline" href="http://www.elegantthemes.com/gallery/divi/" target="_blank">Divi</a>
description: The good people of the Treasure Coast Chapter of the Florida Engineering Society (TCFES) were seeking a refreshed look and feel for their chapter website. They got just that (and more).
---

<article class="portfolio-page {{ page.title }}">
  <div class="grid-container">
    <div class="project_summary">
      <h2 class="title">{{ page.name }}</h2>
      <div class="project_photos grid-100 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="tcfes.org" image="portfolio_florida-engineering-society-treasure-coast_preview" extension="jpg" %}
        {% include phone.html image="portfolio_florida-engineering-society-treasure-coast_preview_mobile" extension="jpg" alt="| Mobile" class="grid-30 tablet-grid-30 mobile-grid-30" %}
      </div>
      <h3 class="subtitle">{ OVERVIEW }</h3>
      <p class="project_roles"><strong>Roles:</strong> {{ page.roles }}</p>
      <p class="project_tech"><strong>Technologies:</strong> {{ page.technologies }}</p>
      <p class="project_description">{{ page.description }}</p>
      <div class="view-project">
        <a class="btn" href="http://tcfes.org" target="_blank">Go to live site <span class="fa fa-angle-right"></span></a>
      </div>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-33 push-66 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ HOME }</h3>
        <p>The home page was used to showcase the most important information from TCFES: upcoming events, news, and chapter photos. Chapter photos fade in as they come into focus for a little something extra.</p>
      </div>
      <div class="section_photos grid-66 pull-33 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="tcfes.org" image="portfolio_florida-engineering-society-treasure-coast" extension="jpg" alt="| Home" %}
      </div>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-33 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ NEWSLETTER }</h3>
        <p>Since 2002, TCFES has regularly created and sent out a newsletter. Previously they were posting these as lists of links with super old files zipped up into one archive. The organization and presentation of these links was reformatted into vertical tabs for each year, making all those newsletters accessible in an easy-to-use, digestable format.</p>
      </div>
      <div class="section_photos grid-66 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="tcfes.org/newsletter" image="portfolio_florida-engineering-society-treasure-coast_newsletter" extension="jpg" alt="| Newsletter" %}
      </div>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-33 push-66 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ BOARD MEMBERS }</h3>
        <p>TCFES board members and their information were previously displayed in a straight HTML table. Obviously, that changed. Members with available pictures got a small logo overlay representing their college, and those without just got a big logo. Information was presented in a clean, simple grid.</p>
      </div>
      <div class="section_photos grid-66 pull-33 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="tcfes.org/board-members" image="portfolio_florida-engineering-society-treasure-coast_board-members" extension="jpg" alt="| Board Members" %}
      </div>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-33 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ EVENTS }</h3>
        <p>TCFES wanted a better event tracking system. The solution gave them that, allowing them to easily input event details, save locations, and search based on various fields/location.</p>
      </div>
      <div class="section_photos grid-66 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="tcfes.org/events" image="portfolio_florida-engineering-society-treasure-coast_events" extension="jpg" alt="| Events" %}
      </div>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-100 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ MOBILE }</h3>
      </div>
      <div class="section_photos photos-mobile grid-100 tablet-grid-100 mobile-grid-100">
        {% include phone.html image="portfolio_florida-engineering-society-treasure-coast_mobile" extension="jpg" alt="| Home | Mobile" class="mobile" scroll="scroll" %}
        {% include phone.html image="portfolio_florida-engineering-society-treasure-coast_newsletter_mobile" extension="jpg" alt="| Newsletter | Mobile" class="mobile" scroll="scroll" %}
        {% include phone.html image="portfolio_florida-engineering-society-treasure-coast_board-members_mobile" extension="jpg" alt="| Board Members | Mobile" class="mobile" scroll="scroll" %}
      </div>
    </div>
  </div>
</article>
