---
layout: portfolio
next: florida-engineering-society-treasure-coast
next_title: Florida Engineering Society - Treasure Coast
previous: jmorton
previous_title: JMorton
title: wgi-buzz
name: wgi.buzz
roles: UI, UX, Full-Stack, Data Visualization
technologies: <a class="underline" href="http://d3js.org/" target="_blank">D3.js</a>, Google Apps, Google App Engine (Python)
description: What started as an experiment in using Google Apps to take a form and the accompanying workflow paperless at Wantman Group, Inc. (WGI) became a full-fledged internal think tank tasked with solving real business problems. What kind of think tank would it be without a name, logo and website, right?
---

<article class="portfolio-page {{ page.title }}">
  <div class="grid-container">
    <div class="project_summary">
      <h2 class="title">{{ page.name }}</h2>
      <div class="project_photos grid-100 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="wgi.buzz" image="portfolio_wgi-buzz_preview" extension="jpg" %}
        {% include phone.html image="portfolio_wgi-buzz_preview_mobile" extension="jpg" alt="| Mobile" class="grid-30 tablet-grid-30 mobile-grid-30" %}
      </div>
      <h3 class="subtitle">{ OVERVIEW }</h3>
      <p class="project_roles"><strong>Roles:</strong> {{ page.roles }}</p>
      <p class="project_tech"><strong>Technologies:</strong> {{ page.technologies }}</p>
      <p class="project_description">{{ page.description }}</p>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-33 push-66 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ HOME }</h3>
        <p>wgi.buzz needed a way for users to easily access the various tools available to them. The solution was to organize those tools by category on a splash page. For a little extra flair, each category was given a photo. When that category is clicked, the photo slides away to reveal links to the resources.</p>
      </div>
      <div class="section_photos grid-66 pull-33 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="wgi.buzz" image="portfolio_wgi-buzz" extension="gif" alt="| Home" %}
      </div>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-33 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ E-FORMS }</h3>
        <p>The original reason wgi.buzz was started was to reinvent a paper form as an online form fit for the 21st century. The specific form was called the Project Initiation Form and manifested itself as a Google Apps Script form with conditional fields, dynamically created fields, and file uploads. Upon submission, it writes to a Google Sheet, is electronically transmitted to the approver, and then forward to the Accounting division.</p>
      </div>
      <div class="section_photos grid-66 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="wgi.buzz/e-forms" image="portfolio_wgi-buzz_e-forms" extension="jpg" alt="| E-Forms" scroll="scroll" %}
      </div>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-33 push-66 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ OPPORTUNITIES }</h3>
        <p>WGI needed a method to track its efforts trying to bring in new work. Thus, the Opportunities section of wgi.buzz was born. It places each project and its 3 phases on a timeline. Users can hover over each phase to see more information. It also has a filter so project mangers can zero in on their division. The data is housed in a collaborative Google Sheet accessed by the Google Drive API.</p>
      </div>
      <div class="section_photos grid-66 pull-33 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="wgi.buzz/opportunities" image="portfolio_wgi-buzz_opportunities" extension="gif" alt="| Opportunities" %}
      </div>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-33 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ SALES GOALS }</h3>
        <p>WGI sets annual sales goals for its project managers, but until now had no reliable, centralized system for tracking performance against the goals. Using an easy-to-update Google Sheet and the Google Drive API to feed a chart that would (hopefully) make United Way proud, users can now view goals by location and interact with the chart to see the current sales and goal.</p>
      </div>
      <div class="section_photos grid-66 tablet-grid-100 mobile-grid-100">
        {% include browser.html url="wgi.buzz/sales/goals" image="portfolio_wgi-buzz_sales-goals" extension="gif" alt="| Sales Goals" %}
      </div>
    </div>
    <div class="project_section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
      <div class="section_description grid-100 tablet-grid-100 mobile-grid-100">
        <h3 class="subtitle">{ MOBILE }</h3>
      </div>
      <div class="section_photos photos-mobile grid-100 tablet-grid-100 mobile-grid-100">
        {% include phone.html image="portfolio_wgi-buzz_mobile" extension="jpg" alt="| Home | Mobile" class="mobile" scroll="scroll" %}
      </div>
    </div>
  </div>
</article>
