/* ==========================================================================
   Navigation | Main
   ========================================================================== */

/* Styles for navigation */
.main-nav {
  float: right;

  /* Styles for small devices */
  @include breakpoint($mq_small) {
    float: none;
    width: 100%;
  }

  /* Styles for an individual navigation item */
  .nav-item {
    border-bottom: 4px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    padding-bottom: 0.5em;
    text-align: center;
    transition: 0.3s;

    /* Styles for medium devices */
    @include breakpoint($mq_medium) {
      font-size: 1.66667rem;
    }

    /* Styles for small devices */
    @include breakpoint($mq_small) {
      font-size: 2rem;
    }

    /* Styles for small devices */
    @include breakpoint($mq_small) {
      float: left;
      padding-top: 0.5em;
      width: 50%;
    }

    /* Styles for first nav item */
    &:first-of-type {
      margin-right: 1em;

      /* Styles for small devices */
      @include breakpoint($mq_small) {
        margin-right: 0;
      }
    }


    /* Styles for hovering over a nav item (yellow underline) */
    &:hover {
      border-bottom-color: $yellow;

      /* Negate hover styles on touch devices */
      .touch & {
        border-bottom: 0;
      }

      /* Styles for hovering over navigation icons */
      .fa {
        transform: scale(1.25);
        transition: 0.3s;

        /* Negate hover styles on touch devices */
        .touch & {
          transform: scale(1);
        }
      }
    }

    /* Styles for an active navigation item */
    &.active {
      border-bottom-color: $yellow !important;

      /* Styles for hovering over an active navigation item */
      &:hover {
        border-bottom: 4px solid $yellow !important;
        transition: 0.3s;
      }
    }

    /* Styles for navigation icons */
    .fa {
      font-size: 1.75rem;
      margin-right: 0.25em;
      transition: 0.3s;
      vertical-align: -5%;

      /* Styles for medium devices */
      @include breakpoint($mq_medium) {
        font-size: 1.94444rem;
      }

      /* Styles for small devices */
      @include breakpoint($mq_small) {
        font-size: 2.33333rem;
      }
    }

    /* Styles navigation item text/tooltip */
    .tooltip {
      display: inline-block;
    }
  }
}
