{
  // Use the Airbnb ESLint base config (without React) as a starting point
  "extends": "airbnb/base",

  // Parse code with Babel
  "parser": "babel-eslint",

  // Specify the environments code will run in
  "env": {
    "es6": true,
    "jquery": true,
  },

  // Global variables for this project that ESLint should recognize
  "globals": {
    "Modernizr": true,
    "ScrollMagic": true,
    "TweenMax": true
  },

  // Specific ESLint rules to override locally
  "rules": {

    // Don't enforce a style for an ES2015 (ES6) arrow function body
    "arrow-body-style": 0,

    // Enforce no trailing commas
    "comma-dangle": [2, "never"],

    // Warn, not error, about max line length (of 100) being exceeded
    "max-len": 1,

    // Ignore the animation/waypoint variables declared but never reused
    "no-unused-vars": [2, {"vars": "all", "varsIgnorePattern": "^tweenLogoLetters$|Waypoint$", "args": "all"}],

    // Allow spaces inside brackets (this is just stylistic preference)
    "object-curly-spacing": [0, "always"],

    // Don't enforce padding within blocks (this is just stylistic preference)
    "padded-blocks": [0, "never"],

    // Warn for single quoted strings
    "quotes": [1, "double"],

    // Disable deprecated rules not yet cleaned up by Airbnb
    "no-empty-label": 0,
    "space-after-keywords": 0,
    "space-before-keywords": 0,
    "space-return-throw-case": 0
  }
}
