{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "plugins": ["compat", "react-hooks"],
  "env": {
    "browser": true
  },
  "rules": {
    "compat/compat": "error",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js"]
      }
    ],
    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": "error"
  }
}
