{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "jquery": true
  },
  "globals": {
    "Modernizr": true,
    "ScrollMagic": true,
    "TweenMax": true
  },
  "rules": {
    "no-unused-vars": [2, {
      "args": "all",
      "vars": "all",
      "varsIgnorePattern": "^tweenLogoLetters$|Waypoint$"
    }],
    "padded-blocks": [0, "never"],
    "quotes": [2, "single", {
      "allowTemplateLiterals": true,
      "avoidEscape": true
    }]
  }
}
