<head>
  <!-- Metadata -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <!-- Site information -->
  <title>{{ site.title }}{% if page.layout == 'portfolio' %} | {{ page.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <!-- Style -->
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
  <link href='//fonts.googleapis.com/css?family=Roboto:300,500|Ubuntu:400,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/vendor.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- JavaScript -->
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//www.googletagmanager.com">
  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">
</head>
