/* =========================================================================
   Grid
   ========================================================================= */

/* On big devices, increase left and right padding of container */
.grid-container {
  @include breakpoint($mq-big) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* Remove padding for mobile-grid-100 on small devices */
.mobile-grid-100 {
  @include breakpoint($mq-small) {
    padding-left: 0;
    padding-right: 0;
  }
}
