/* =========================================================================
   Header
   ========================================================================= */

/* Styles for the masthead */
#masthead {
  background: $ph-blue url('/img/home/hero_texture.png') fixed;
  color: $ph-yellow;
  font-family: $ubuntu;
  max-width: 100%;
  padding: 0;
  position: static;
  text-align: center;
  width: 100%;

  /* Styles for medium and up devices */
  @include breakpoint($mq-medium) {
    background: none;
    padding-left: 16px;
    position: fixed;
    text-align: left;
    z-index: 100;
  }

  /* Styles for big devices */
  @include breakpoint($mq-big) {
    padding-left: 24px;
    padding-right: 8px;
  }

  /* Styles for masthead when page is scrolling */
  &.scroll-header {
    background-color: rgba($ph-blue, .75);
    box-shadow: 0 0 8px $gray-2;

    /* Styles for the navigation when the page is scrolling */
    .main-nav {
      background-color: rgba($ph-blue, .75);
      box-shadow: 0 0 8px $gray-2;
      left: 0;
      position: fixed;
      top: 0;
      z-index: 100;

      /* Styles for medium and up devices */
      @include breakpoint($mq-medium) {
        background-color: transparent;
        box-shadow: none;
        position: static;
      }
    }
  }

  /* Styles for masthead images (circular photo) */
  img {
    border-radius: 50%;
    display: inline-block;
    float: none;
    margin: .4em 0 0;
    width: 50%;

    /* Styles for medium and up devices */
    @include breakpoint($mq-medium) {
      display: none;
    }
  }
}
