/* =========================================================================
   Home
   ========================================================================= */

/* Styles for home sections (About, Portfolio, Contact) */
.home-section {
  padding: 3em 0;

  /* Increase padding on medium and up devices */
  @include breakpoint($mq-medium) {
    padding: 6em 0;
  }

  /* Styles for section titles */
  .title {
    font-size: 2.5rem;
    padding-bottom: 1em;
    text-align: center;

    /* Increase font size on medium and up devices */
    @include breakpoint($mq-medium) {
      font-size: 3rem;
    }
  }
}

/* Imports for other sections of Home */
@import 'partials/hero';
@import 'partials/about';
@import 'partials/portfolio';
