---
layout: portfolio
title: ms-omearas-multiage
next: university-of-michigan-athletics
next-title: University of Michigan Athletics
previous: jahleh-and-patricks-wedding
previous-title: Jahleh and Patrick's Wedding
name: Ms. O'Meara's Multiage
roles: Logo, UI, UX, Full-Stack
technologies: WordPress + <a class="underline" href="http://underscores.me/" target="_blank">Underscores</a>, <a class="underline" href="http://sass-lang.com/" target="_blank">Sass</a>
description: My mom teaches a multiage (1st, 2nd, 3rd grade) classroom and was looking for a better way to share resources, photos, information, and more with parents and students. <a class="underline" href="http://marie.hoopr.io" target="_blank">Marie</a> and I helped her out by creating a website that caters to both kids and adults in a fun and natural way.
live: http://msomearasmultiage.com
github: false
desktop: true
tablet: true
mobile: true
---

<section class="project-photos grid-100 tablet-grid-100 mobile-grid-100">
  {% include components/browser-wireframe.html url="msomearasmultiage.com" image="portfolio_ms-omearas-multiage_preview" extension="jpg" %}
  {% include components/phone-wireframe.html image="portfolio_ms-omearas-multiage_preview_mobile" extension="jpg" alt="| Mobile" class="grid-30 tablet-grid-30 mobile-grid-30" %}
</section>

{% include pages/portfolio/project-overview.html %}

<section class="project-section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
  <div class="project-section-description grid-33 push-66 tablet-grid-100 mobile-grid-100">
    <h3 class="subtitle">{ HOME }</h3>

    <p>The home page provides information about the class, multiage, and the teacher using the theme of journeys and the sea. The page starts with a hero image to set the tone for that theme and then breaks into colored sections to provide more detailed information.</p>
  </div>

  <div class="project-section-photos grid-66 pull-33 tablet-grid-100 mobile-grid-100">
     {% include components/browser-wireframe.html url="msomearasmultiage.com" image="portfolio_ms-omearas-multiage" extension="jpg" alt="| Home" scroll="scroll" %}
  </div>
</section>

<section class="project-section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
  <div class="project-section-description grid-33 tablet-grid-100 mobile-grid-100">
    <h3 class="subtitle">{ KIDS }</h3>

    <p>The kids section was designed to be fun and easy to use for 1st, 2nd, and 3rd graders. The default kids page presents them with big, colorful buttons for each subject. Once on a subject page, students will still see that navigation to jump between subjects, and then can use the accordion menus to browse links of resources.</p>
  </div>

  <div class="project-section-photos grid-66 tablet-grid-100 mobile-grid-100">
    {% include components/browser-wireframe.html url="msomearasmultiage.com/kids" image="portfolio_ms-omearas-multiage_kids" extension="gif" alt="| Kids" %}
  </div>
</section>

<section class="project-section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
  <div class="project-section-description grid-33 push-66 tablet-grid-100 mobile-grid-100">
    <h3 class="subtitle">{ PARENTS }</h3>

    <p>Parents are greeted with a corkboard explaining what they can expect to find here. Below the image, there is a secondary navigation to allow for easy navigation between different categories of information. Within each category, sections are organzied into accordion menus to present a less overwhelming amount of information at once.</p>
  </div>

  <div class="project-section-photos grid-66 pull-33 tablet-grid-100 mobile-grid-100">
    {% include components/browser-wireframe.html url="msomearasmultiage.com/parents" image="portfolio_ms-omearas-multiage_parents" extension="jpg" alt="| Parents" scroll="scroll" %}
  </div>
</section>

<section class="project-section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
  <div class="project-section-description grid-100 tablet-grid-100 mobile-grid-100">
    <h3 class="subtitle">{ MOBILE }</h3>
  </div>

  <div class="project-section-photos photos-mobile grid-100 tablet-grid-100 mobile-grid-100">
    {% include components/phone-wireframe.html image="portfolio_ms-omearas-multiage_parents_mobile" extension="jpg" alt="| Parents | Mobile" class="mobile" scroll="scroll" %}

    {% include components/phone-wireframe.html image="portfolio_ms-omearas-multiage_mobile" extension="jpg" alt="| Home | Mobile" class="mobile" scroll="scroll" %}

    {% include components/phone-wireframe.html image="portfolio_ms-omearas-multiage_kids_mobile" extension="jpg" alt="| Kids | Mobile" class="mobile" scroll="scroll" %}
  </div>
</section>
