---
layout: portfolio
next: ms-omearas-multiage
next-title: Ms. O'Meara's Multiage
previous: wgi-informer
previous-title: WGI Informer
title: jahleh-and-patricks-wedding
name: Jahleh + Patrick's Wedding
roles: UI, Full-Stack
technologies: Google App Engine (Python)
description: My wife, <a class="underline" href="http://marie.hoopr.io" target="_blank">Marie</a>, and I wanted an awesome way to be able to see information about our wedding, check our registry, RSVP, and sign our guestbook. So, we did what we love and built a website for it!
live: false
github: false
desktop: true
tablet: true
mobile: true
---

<section class="project-photos grid-100 tablet-grid-100 mobile-grid-100">
  {% include components/browser-wireframe.html url="wedding.hoopr.io" image="portfolio_jahleh-and-patricks-wedding_preview" extension="jpg" %}
  {% include components/phone-wireframe.html image="portfolio_jahleh-and-patricks-wedding_preview_mobile" extension="jpg" alt="| Mobile" class="grid-30 tablet-grid-30 mobile-grid-30" %}
</section>

{% include pages/portfolio/project-overview.html %}

<section class="project-section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
  <div class="project-section-description grid-33 push-66 tablet-grid-100 mobile-grid-100">
    <h3 class="subtitle">{ OUR STORY }</h3>

    <p>We really wanted to emphasize how we got here and how much fun we've had along the way in a creative, visual way. So we pulled together a bunch of our favorite pictures to help us out, wrote some (clever?) taglines, and played connect the dots.</p>
  </div>

  <div class="project-section-photos grid-66 pull-33 tablet-grid-100 mobile-grid-100">
    {% include components/browser-wireframe.html url="wedding.hoopr.io" image="portfolio_jahleh-and-patricks-wedding" extension="jpg" alt="| Our Story" scroll="scroll" %}
  </div>
</section>

<section class="project-section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
  <div class="project-section-description grid-33 tablet-grid-100 mobile-grid-100">
    <h3 class="subtitle">{ WEDDING }</h3>

    <p>We needed a spot to provide actual details about the wedding to guests (kind of important, I guess). So we put that all here, including when, where, some pretty photos, and interesting travel information about the location.</p>
  </div>

  <div class="project-section-photos grid-66 tablet-grid-100 mobile-grid-100">
    {% include components/browser-wireframe.html url="wedding.hoopr.io/details" image="portfolio_jahleh-and-patricks-wedding_wedding" extension="jpg" alt="| Details" scroll="scroll" %}
  </div>
</section>

<section class="project-section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
  <div class="project-section-description grid-33 push-66 tablet-grid-100 mobile-grid-100">
    <h3 class="subtitle">{ RSVP }</h3>

    <p>Each invitation sent out had a personalized code attached. The invitee could then enter this code in the RSVP form to bring up their name and the name of their +1, where applicable. To finalize their RSVP, it was as simple as checking the box if they were attending and then clicking submit. Easy breezy.</p>
  </div>

  <div class="project-section-photos grid-66 pull-33 tablet-grid-100 mobile-grid-100">
    {% include components/browser-wireframe.html url="wedding.hoopr.io/rsvp" image="portfolio_jahleh-and-patricks-wedding_rsvp" extension="jpg" alt="| RSVP" scroll="scroll" %}
  </div>
</section>

<section class="project-section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
  <div class="project-section-description grid-33 tablet-grid-100 mobile-grid-100">
    <h3 class="subtitle">{ GUESTBOOK }</h3>

    <p>For a little extra fun, we added an online guestbook to our site. Just fill out the form, click sign, and your name and message are forever embodied in our digital wedding archive. Sweet deal.</p>
  </div>

  <div class="project-section-photos grid-66 tablet-grid-100 mobile-grid-100">
    {% include components/browser-wireframe.html url="wedding.hoopr.io/guestbook" image="portfolio_jahleh-and-patricks-wedding_guestbook" extension="jpg" alt="| Guestbook" scroll="scroll" %}
  </div>
</section>

<section class="project-section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
  <div class="project-section-description grid-100 tablet-grid-100 mobile-grid-100">
    <h3 class="subtitle">{ MOBILE }</h3>
  </div>

  <div class="project-section-photos photos-mobile grid-100">
    {% include components/phone-wireframe.html image="portfolio_jahleh-and-patricks-wedding_mobile" extension="jpg" class="mobile" alt="| Our Story | Mobile" scroll="scroll" %}

    {% include components/phone-wireframe.html image="portfolio_jahleh-and-patricks-wedding_wedding_mobile" extension="jpg" class="mobile" alt="| Details | Mobile" scroll="scroll" %}

    {% include components/phone-wireframe.html image="portfolio_jahleh-and-patricks-wedding_guestbook_mobile" extension="jpg" class="mobile" alt="| Guestbook | Mobile" scroll="scroll" %}
  </div>
</section>
