/* ==========================================================================
   Colors
   ========================================================================== */

/* General
   ========================================================================== */

/* Body text to lighter gray */
body {
  color: $body_gray;
}

/* Remove text decor and colors from links */
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
