/* ==========================================================================
   Typography
   ========================================================================== */

/* General
   ========================================================================== */

/* Root element 100% font size */
html {
  font-size: 100%;
}

/* Assign body PT Sans font and slightly larger font size/line height for readability */
body {
  font-family: $pt_sans;
  font-size: 125%;
  line-height: 1.5;
}

/* Give headings Ubuntu font and semi-bold font weight */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ubuntu;
  font-weight: 500;
}

p {
  font-size: 1rem;

  @include breakpoint($mq_medium) {
    font-size: 1.25rem;
  }
}

/* Make strong elements bold and slightly spaced out for readability */
strong {
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* Make em elements italicized */
em {
  font-style: italic;
}

/* Class to underline an element */
.underline {
  &, &:hover {
    text-decoration: underline;
    transition: opacity 0.15s ease-in-out;
  }

  &:hover {
    opacity: 0.75;
  }
}
