/* ==========================================================================
   Portfolio | Content
   ========================================================================== */
.layout-portfolio {

  /* Styles for the main content on a portfolio page */
  .portfolio-page {
    padding-top: 64px;

    /* Styles for titles (page title) and subtitle (section titles) */
    .title,
    .subtitle {
      font-size: 1.3rem;
      padding-bottom: 0.75em;
      text-align: center;

      @include breakpoint($mq_medium) {
        font-size: 1.75rem;
      }
    }

    /* Portfolio | Content (University of Michigan Athletics)
    ========================================================================== */
    &.university-of-michigan-athletics {
      .subtitle {
        font-size: 1.3rem;

        /* Styles for medium and up devices */
        @include breakpoint($mq_medium) {
          font-size: 1.75rem;
        }
      }

      .project_section {
        padding: 1.2em 0;

        /* Styles for medium and up devices */
        @include breakpoint($mq_medium) {
          padding: 1.2em;
        }
      }
    }

    /* Portfolio | Content | Project Summary
    ========================================================================== */
    .project_summary {

      /* Styles for the project title */
      .title {
        font-size: 2rem;
        line-height: 1;
        margin-top: 0.75em;
        padding-bottom: 0.75em;

        /* Styles for medium and up devices */
        @include breakpoint($mq_medium) {
          font-size: 3rem;
        }
      }

      /* Styles for the project photos (overview/preview photos) */
      .project_photos {
        margin: 0 auto 2.4em;
        max-width: 640px;
        position: relative;
      }

      /* Styles for project subtitles (the titles of smaller sections) */
      .subtitle {
        margin-top: 0.75em;
      }

      /* Styles for project roles and technologies used */
      .project_tech,
      .project_description {
        padding-bottom: 1.2em;
      }

      /* Styles for the the button to go to the live site */
      .view-project {
        text-align: center;

        /* Styles for the button */
        .btn {
          background-color: $blue;
          margin: 0.85714em 0;
          width: 100%;

          /* Auto width on medium and up devices */
          @include breakpoint($mq_medium) {
            width: auto;
          }

          /* No top margin for any buttons after the first one */
          &:not(:first-child) {
            margin-top: 0;
          }

          /* Give right margin to button icon and pull it down a little */
          .fa {
            margin-right: 0.5em;
            vertical-align: -20%;

            /* Move GitHub up a little more than other icons */
            &-github {
              vertical-align: -15%;
            }
          }

          /* Give GitHub button a gray background color */
          &-github {
            background-color: $github_color;
          }
        }
      }
    }

    /* Portfolio | Content | Project Section
    ========================================================================== */
    .project_section {
      padding: 1.2em 0;

      /* Styles for the description of a project */
      .section_description {
        margin-bottom: 1.33333em;

        /* No margin on large and up devices */
        @include breakpoint($mq_large) {
          margin-bottom: 0;
        }
      }

      /* Styles specifically for a browser in a project section */
      .browser {
        margin: 0 auto;
        max-width: 725px;

        /* Styles specifically for a browser photo in a project section */
        .browser_photo {
          max-height: 388px;
          overflow: hidden;
        }
      }

      /* Styles specifically for a mobile project images */
      .photos-mobile {
        text-align: center;
      }

      /* Styles specifically for a phone in a project section */
      .phone {
        margin: 0 auto;
        max-width: 355px;

        /* Styles specifically for a mobile phone */
        &.mobile {
          display: block;
          margin-bottom: 1.33333em;
          position: static;
          width: 100%;

          /* Styles for large and up devices */
          @include breakpoint($mq_large) {
            display: inline-block;
            margin: 0 auto;
            width: 30%;
          }

          /* Styles specifically for all but the first mobile phone */
          &:not(:first-of-type) {
            margin: 0 auto;
            margin-bottom: 1.3333em;

            /* Styles for large and up devices */
            @include breakpoint($mq_large) {
              margin-left: 0.8em;
            }
          }
        }

        /* Styles specifically for a phone photo in a project section */
        .phone_photo {
          max-height: 568px;
          overflow: hidden;
        }
      }
    }
  }
}
