/* ==========================================================================
   Portfolio | Content
   ========================================================================== */
.layout-portfolio {

  /* Styles for the main content on a portfolio page */
  .portfolio-page {
    padding-top: 60px;

    /* Styles for titles (page title) and subtitle (section titles) */
    .title,
    .subtitle {
      font-size: 2rem;
      padding-bottom: 0.75em;
      text-align: center;
    }

    /* Portfolio | Content (University of Michigan Athletics)
    ========================================================================== */
    &.university-of-michigan-athletics {
      .subtitle {
        /* Styles for small devices */
        @include breakpoint($mq_small) {
          font-size: 1.75rem;
        }
      }

      .project_section {
        padding: 1.2em;

        /* Styles for small devices */
        @include breakpoint($mq_small) {
          padding: 1.2em 0;
        }
      }
    }

    /* Portfolio | Content | Project Summary
    ========================================================================== */
    .project_summary {

      /* Styles for the project title */
      .title {
        font-size: 3rem;
        line-height: 1;
        margin-top: 0.75em;
        padding-bottom: 0.75em;

        /* Styles for small devices */
        @include breakpoint($mq_small) {
          font-size: 2.75rem;
        }
      }

      /* Styles for the project photos (overview/preview photos) */
      .project_photos {
        margin: 0 auto 2.4em;
        max-width: 640px;
        position: relative;
      }

      /* Styles for project subtitles (the titles of smaller sections) */
      .subtitle {
        margin-top: 0.75em;
      }

      /* Styles for project roles and technologies used */
      .project_tech,
      .project_description {
        padding-bottom: 1.2em;
      }

      /* Styles for the the button to go to the live site */
      .view-project {
        text-align: center;

        /* Styles for the button */
        .btn {
          margin: 0.85714em 0;
          text-transform: uppercase;

          @include button-hover($blue, $white);

          .fa {
            margin-left: 0.375em;
          }
        }
      }

      /* Styles for the big phone button on small devices */
      .phone_button span {
        @include breakpoint($mq_small) {
          height: 24px !important;
          width: 24px !important;
        }
      }
    }

    /* Portfolio | Content | Project Section
    ========================================================================== */
    .project_section {
      padding: 1.2em 0;

      /* Styles for the description of a project on small and medium devices */
      .section_description {
        @include breakpoint($mq_not_large) {
          margin-bottom: 1.33333em;
        }
      }

      /* Styles specifically for a browser in a project section */
      .browser {
        margin: 0 auto;
        max-width: 725px;

        /* Styles specifically for a browser photo in a project section */
        .browser_photo {
          max-height: 388px;
          overflow: hidden;
        }
      }

      /* Styles specifically for a mobile project images */
      .photos-mobile {
        text-align: center;
      }

      /* Styles specifically for a phone in a project section */
      .phone {
        margin: 0 auto;
        max-width: 355px;

        /* Styles specifically for a mobile phone */
        &.mobile {
          display: inline-block;
          margin: 0 auto;
          position: static;
          width: 30%;

          /* Styles specifically for all but the first mobile phone */
          &:not(:first-of-type) {
            margin-left: 0.8em;
          }

          /* Styles specifically for mobile phones on small and medium devices */
          @include breakpoint($mq_not_large) {
            display: block;
            margin-bottom: 1.33333em;
            width: 100%;

            /* Styles specifically for all but the first phone */
            &:not(:first-of-type) {
              margin: 0 auto;
              margin-bottom: 1.3333em;
            }
          }
        }

        /* Styles specifically for a phone photo in a project section */
        .phone_photo {
          max-height: 568px;
          overflow: hidden;
        }
      }
    }
  }
}
