/* ==========================================================================
   Portfolio | Header
   ========================================================================== */
.layout-portfolio {

  /* Portfolio | Header | Masthead
  ========================================================================== */
  #masthead {
    background-color: rgba(16, 30, 67, 1);
    position: fixed;

    /* Styles for small devices */
    @include breakpoint($mq_small) {
      background: rgba(16, 30, 67, 1);
      padding: 0.8em 1em 0;
    }

    /* Styles applied to the header when the page is scrolling */
    &.scroll-header {
      background-color: rgba(16, 30, 67, 0.75);

      .main-nav {
        background-color: transparent;
        box-shadow: none;
        position: static;
      }
    }
  }

  /* Portfolio | Header | Logo
  ========================================================================== */
  .logo {

    /* Styles for small devices */
    @include breakpoint($mq_small) {
      float: left;
      font-size: 2.66667rem;
      padding: 0;
    }
  }

  /* Portfolio | Header | Main Nav
  ========================================================================== */
  .main-nav {
    background-color: transparent;
    box-shadow: none;

    /* Styles for small devices */
    @include breakpoint($mq_small) {
      float: right;
      position: static;
      width: auto;
    }

    /* Styles for a specific navigation item */
    .nav-item {
      border-bottom: 4px solid transparent;
      padding-bottom: 0.5em;

      /* Styles for small devices */
      @include breakpoint($mq_small) {
        padding-top: 0;
        width: auto;
      }

      /* Styles for first nav item */
      &:first-of-type {

        /* Styles for small devices */
        @include breakpoint($mq_small) {
          margin-right: 0.625em;
        }
      }

      /* Styles applied when hovering over a navigation item */
      &:hover {
        border-bottom: 4px solid;

        /* Negate hover styles on touch devices */
        .touch & {
          border-bottom: 0;
        }
      }

      /* Give right "Next" arrow a margin on the left, not right */
      .fa.fa-angle-right {
        margin-left: 0.25em;
        margin-right: 0;
      }
    }
  }
}
