/* =========================================================================
   Home
   ========================================================================= */

/* Styles that override/alter components specifically on the home page */
.default-page {

  /* Header styles for home page */
  header {
    background: none;
    box-shadow: none;

    /* Header styles on small devices on home page */
    @include breakpoint($mq-small) {
      background: $ph-blue url("/img/dots-pattern.png") fixed;
      padding: 0;
      position: static;
    }

    /* Header menu styles on small devices on home page */
    .menu {
      @include breakpoint($mq-small) {
        float: none;
        width: 100%;
      }

      /* Header menu item styles on small devices on home page */
      .menu-item {
        @include breakpoint($mq-small) {
          padding: 16px 0 13px;
          width: 50%;
        }
      }
    }
  }

  /* Logo styles for home page on small devices */
  .logo {
    @include breakpoint($mq-small) {
      float: none;
      line-height: 1;
      padding: 0.4em 0 0.2em;
    }

    /* Logo h1 styles for home page on small devices */
    h1 {
      @include breakpoint($mq-small) {
        padding: 0;
      }
    }
  }
}

/* Home | Home Section
   ========================================================================= */

/* Styles for home sections (About, Projects, Contact) */
.home-section {
  padding: 2.4em 0;

  /* On medium and up devices, increase padding on top and bottom of section */
  @include breakpoint($mq-medium) {
    padding: 3.6em 0;
  }

  /* On medium and up devices, increase padding on top and bottom of section */
  @include breakpoint($mq-large) {
    padding: 4.8em 0;
  }

  /* Styles for home section titles */
  .title {
    margin-top: 0;
    padding-bottom: 1em;

    /* On medium and up devices, increase font size */
    @include breakpoint($mq-medium) {
      font-size: 2.5rem;
    }
  }
}

/* Home | Hero
   ========================================================================= */

/* Styles the Hero section */
.home-hero {

  /* Set background and font colors and make height 95% of viewport */
  @include color-element($ph-blue, $ph-yellow);
  @include height-fallback(95);

  /* Set background image and hide section */
  background-image: url("/img/home-hero-background.jpg");
  display: none;

  /* Show only on medium and up devices */
  @include breakpoint($mq-medium) {
    display: block;
  }

  /* Styles for the hero overlay */
  .overlay {

    /* Set height in vh with % fallback */
    @include height-fallback(95);

    /* Other styles for the overlay */
    background: url("/img/dots-pattern.png") fixed;
    text-align: center;
  }

  /* Styles for the hero arrow */
  .arrow {

    /* Make the arrow point down and be 32px border */
    @include arrow-down(32px);

    /* Other styles for the arrow */
    border-top-color: $ph-blue;
    bottom: -32px;
    left: 50%;
    margin-left: -32px;
  }
}

/* Styles for the animated hero section */
.home-hero-animation {

  /* Vertical align 45% from top */
  @include vertical-align(45%);

  /* Style animate */
  position: relative;
  text-align: center;
  width: 100%;

  /* Styles for Learn More button */
  .cta {

    /* Hover styles */
    @include button-hover($ph-yellow, $ph-blue);

    /* Styles for learn more button */
    font-size: 1.5rem;
    opacity: 0;
    position: relative;
    text-align: center;
    top: 3em;
  }
}

/* Home | About
   ========================================================================= */

/* Styles for the About section */
.home-about-section {

  /* Set background and font color */
  @include color-element($ph-yellow, $white);

  /* Set background image */
  background-attachment: fixed;
  background-image: url("/img/home-about-background.jpg");
  background-size: cover;
}

/* Styles for about motto */
.motto {
  font-size: 1.25rem;
  padding-bottom: 1.5em;
  text-align: center;

  /* Increase font size and padding on medium and up devices */
  @include breakpoint ($mq-medium) {
    font-size: 1.35rem;
    padding-bottom: 1.75em;
  }

  /* Increase font size and change padding on large devices */
  @include breakpoint ($mq-large) {
    font-size: 1.75rem;
    padding-bottom: 1.5em;
  }
}

/* Styles for about section paragraph text */
.about-text {
  padding: 0;

  /* Add left and right padding on large devices */
  @include breakpoint($mq-large) {
    padding: 0 0.75em;
  }

  /* Styles for the resume paragraph on large devices */
  &.resume {
    @include breakpoint($mq-large) {
      font-size: 1.5rem;
      padding: 1.75em 0 0;
      text-align: center;
    }
  }
}

/* Home | Projects
   ========================================================================= */

/* Styles for the Projects section */
.home-projects-section {

  /* Give bottom padding to all but the last project */
  .project-list li:not(:last-of-type) {
    padding-bottom: 2.4em;

    /* Reduce spacing slightly on medium and up devices */
    @include breakpoint($mq-medium) {
      padding-bottom: 1.5em;
    }
  }

  /* Change font size and bottom margin for project title */
  .project-list-title {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.5em;
  }

  /* Display the container for paragraph and buttons as flex on medium and up devices */
  .project-list-body {
    @include breakpoint($mq-medium) {
      display: flex;
    }
  }

  /* Give bottom padding to the teaser paragraph */
  .project-list-teaser {
    padding-bottom: 0.75em;

    /* Flex on medium and up devices and alter spacing */
    @include breakpoint($mq-medium) {
      flex: 1;
      padding-bottom: 0;
      padding-right: 1.5em;
    }
  }

  /* Give button container a minimum width of about 300px (when font is 16px) */
  .project-list-buttons {
    align-self: center;
    min-width: 18rem;

    /* Make buttons a little smaller than the default */
    .btn {
      height: 36px;
      line-height: 36px;
      padding: 0 0.75em;
    }
  }
}
