/* =========================================================================
   Home
   ========================================================================= */

/* Styles that override/alter components specifically on the home page */
.default-page {

  /* Main nav bar styles for home page */
  .main-nav {
    background: none;
    box-shadow: none;

    /* Main nav bar styles on small devices on home page */
    @include breakpoint($mq-small) {
      background: $ph-blue url("/assets/img/dots-pattern.png") fixed;
      padding: 0;
      position: static;
    }

    /* Main nav menu styles on small devices on home page */
    .menu {
      @include breakpoint($mq-small) {
        float: none;
        width: 100%;
      }

      /* Main nav menu item styles on small devices on home page */
      .menu-item {
        @include breakpoint($mq-small) {
          padding: 13px 0 10px;
          width: 50%;
        }
      }
    }
  }

  /* Logo styles for home page on small devices */
  .logo {
    @include breakpoint($mq-small) {
      float: none;
      font-size: 3rem;
      line-height: 1;
      padding: .4em 0 .2em;
    }

    /* Logo h1 styles for home page on small devices */
    h1 {
      @include breakpoint($mq-small) {
        padding: 0;
      }
    }
  }
}

/* Home | Home Section
   ========================================================================= */

/* Styles for home sections (About, Portfolio, Contact) */
.home-section {
  padding: 2.4em 0;

  /* On medium and up devices, increase padding on top and bottom of section */
  @include breakpoint($mq-medium) {
    padding: 3.6em 0;
  }

  /* On medium and up devices, increase padding on top and bottom of section */
  @include breakpoint($mq-large) {
    padding: 4.8em 0;
  }

  /* Styles for home section titles */
  .title {
    margin-top: 0;
    padding-bottom: 1em;

    /* On medium and up devices, increase font size */
    @include breakpoint($mq-medium) {
      font-size: 2.5rem;
    }
  }
}

/* Home | Hero
   ========================================================================= */

/* Styles the Hero section */
.home-hero {

  /* Set background and font colors and make height 95% of viewport */
  @include color-element($ph-blue, $ph-yellow);
  @include height-fallback(95);

  /* Set background image and hide section */
  background-image: url("/assets/img/home_hero_background.jpg");
  display: none;

  /* Show only on medium and up devices */
  @include breakpoint($mq-medium) {
    display: block;
  }

  /* Styles for the hero overlay */
  .overlay {

    /* Set height in vh with % fallback */
    @include height-fallback(95);

    /* Other styles for the overlay */
    background: url("/assets/img/dots-pattern.png") fixed;
    text-align: center;
  }

  /* Styles for the hero arrow */
  .arrow {

    /* Make the arrow point down and be 32px border */
    @include arrow-down(32px);

    /* Other styles for the arrow */
    border-top-color: $ph-blue;
    bottom: -32px;
    left: 50%;
    margin-left: -32px;
  }
}

/* Styles for the animated hero section */
.home-hero-animation {

  /* Vertical align 45% from top */
  @include vertical-align(45%);

  /* Style animate */
  position: relative;
  text-align: center;

  /* Styles for Learn More button */
  .cta {

    /* Hover styles */
    @include button-hover($ph-yellow, $ph-blue);

    /* Styles for learn more button */
    font-size: 1.5rem;
    opacity: 0;
    position: relative;
    text-align: center;
    top: 5em;
  }

  /* Styles for hero taglines */
  .tagline {
    display: none;
    font-size: 5rem;
    line-height: 1;
  }
}

/* Home | About
   ========================================================================= */

/* Styles for the About section */
.home-about-section {

  /* Set background and font color */
  @include color-element($ph-yellow, $white);

  /* Set background image */
  background-attachment: fixed;
  background-image: url("/assets/img/home_about_background.jpg");
  background-size: cover;
}

/* Styles for about motto */
.motto {
  font-size: 1.25rem;
  padding-bottom: 1.5em;
  text-align: center;

  /* Increase font size and padding on medium and up devices */
  @include breakpoint ($mq-medium) {
    font-size: 1.35rem;
    padding-bottom: 1.75em;
  }

  /* Increase font size and change padding on large devices */
  @include breakpoint ($mq-large) {
    font-size: 1.75rem;
    padding-bottom: 1.5em;
  }
}

/* Styles for about section paragraph text */
.about-text {
  padding: 0;

  /* Add left and right padding on large devices */
  @include breakpoint($mq-large) {
    padding: 0 .75em;
  }

  /* Styles for the resume paragraph on large devices */
  &.resume {
    @include breakpoint($mq-large) {
      font-size: 1.5rem;
      padding: 1.75em 0 0;
      text-align: center;
    }
  }
}

/* Home | Portfolio
   ========================================================================= */

/* Styles for the Portfolio section */
.home-portfolio-section {

  /* Text/font styles for the roles, tech, and platforms */
  .snapshot-roles,
  .snapshot-tech,
  .snapshot-devices {
    color: $white;
    line-height: 1.25;
    text-align: center;
  }

  /* Give bottom margin to roles and tech */
  .snapshot-roles,
  .snapshot-tech {
    margin-bottom: 1.5em;
    padding-bottom: 0;
  }

  /* Change font styles for platforms */
  .snapshot-devices {
    font-size: 1.5rem;
    line-height: 1;
  }
}
