/* =========================================================================
   Portfolio
   ========================================================================= */

/* Styles that override/alter components specifically on portfolio pages */
.portfolio-page {

  /* On portfolio page, make border yellow for header menu item on hover */
  header .menu-item:hover {
    border-bottom-color: $ph-yellow;

    /* Remove border bottom color on touch devices */
    .touch & {
      border-bottom-color: transparent;
    }
  }

  /* Styles specifically for a browser in a project section */
  .browser {
    margin: 0 auto;
    max-width: 725px;
  }

  /* Styles specifically for a browser photo in a project section */
  .browser-photo {
    max-height: 388px;
    overflow: hidden;
  }

  /* Styles specifically for a phone in a project section */
  .phone {
    margin: 0 auto;
    max-width: 355px;

    /* Reduce top position on medium and up devices */
    @include breakpoint($mq-medium) {
      top: 15%;
    }

    /* Styles specifically for a mobile phone */
    &.mobile {
      display: block;
      position: static;
      width: 100%;

      /* Styles for large devices */
      @include breakpoint($mq-large) {
        display: inline-block;
        margin: 0 auto;
        width: 30%;
      }

      /* Styles specifically for all but the first mobile phone */
      &:not(:first-of-type) {

        /* Styles for large devices */
        @include breakpoint($mq-large) {
          margin-left: .8em;
        }
      }

      /* Styles specifically for all but the last mobile phone */
      &:not(:last-of-type) {
        margin-bottom: 1.2em;

        /* Remove bottom margin on large devices */
        @include breakpoint($mq-large) {
          margin-bottom: 0;
        }
      }
    }
  }

  /* Styles specifically for a phone photo in a project section */
  .phone-photo {
    max-height: 568px;
    overflow: hidden;
  }
}

/* Portfolio | Project
   ========================================================================= */

/* Styles for the main content on a portfolio page */
.project {
  padding-top: 56px;

  /* Increase top padding on medium and up devices */
  @include breakpoint($mq-medium) {
    padding-top: 64px;
  }

  /* Override styles for text-only projects */
  &.text-only-project {

    /* Alter padding for these portfolio page's project sections */
    .project-section {
      padding: 0;

      /* Increase padding on large devices */
      @include breakpoint($mq-large) {
        padding-left: .75em;
        padding-right: .75em;
      }
    }
  }
}

/* Portfolio | Project Photos
   ========================================================================= */

/* Styles for the project photos (overview/preview photos) */
.project-photos {
  margin: 0 auto 2.8em;
  max-width: 640px;
  position: relative;

  /* Increase bottom margin on medium and up devices */
  @include breakpoint($mq-medium) {
    margin-bottom: 3.7em;
  }
}

/* Portfolio | Project Overview
   ========================================================================= */

/* Styles for project overview section */
.project-overview {
  padding-bottom: 2.4em;

  /* Increase bottom padding on medium and up devices */
  @include breakpoint($mq-medium) {
    padding-bottom: 3.6em;
  }

  /* Increase bottom padding even more on large devices */
  @include breakpoint($mq-large) {
    padding-bottom: 4.8em;
  }

  /* Alter font size of overview subtitle */
  .subtitle {
    font-size: 1.5rem;

    /* Increase overview subtitle font size on medium and up devices */
    @include breakpoint($mq-medium) {
      font-size: 2rem;
    }
  }
}

/* Styles for project description */
.project-description {
  padding-bottom: 1.2em;

  /* Increase bottom padding on large devices */
  @include breakpoint($mq-large) {
    padding-bottom: 2.4em;
  }
}

/* Styles for container of roles, tech, and platforms */
.project-thirds {
  text-align: center;
}

/* Give bottom padding to roles and tech */
.project-roles,
.project-tech {
  padding-bottom: 1.2em;

  /* Remove bottom padding on large devices */
  @include breakpoint($mq-large) {
    padding-bottom: 0;
  }
}

/* Center align the buttons that go to live site or GitHub */
.project-live {
  text-align: center;

  /* Styles for the the buttons to go to the live site or GitHub */
  .btn {
    font-size: 1.25rem;
    margin-top: 1.125em;
    padding-left: 1.125em;
    padding-right: 1.125em;
    width: auto;

    /* Alter some styles on medium and up devices */
    @include breakpoint($mq-medium) {
      font-size: 1.5rem;
      margin-top: 1em;
      padding-left: 1.5em;
      padding-right: 1.5em;
      width: auto;
    }

    /* Increase top margin on large devices */
    @include breakpoint($mq-large) {
      margin-top: 2em;
    }

    /* For all but first button, add left margin on medium and up devices */
    &:not(:first-of-type) {
      @include breakpoint($mq-medium) {
        margin-left: .5em;
      }
    }

    /* Give right margin to button icon and pull it down a little */
    .btn-icon {
      font-size: 1.125rem;
      vertical-align: -10%;

      /* Increase icon size on medium and up devices */
      @include breakpoint($mq-medium) {
        font-size: 1.5rem;
      }

      /* Move GitHub up a little more than other icons */
      &.fa-github {
        vertical-align: 0%;
      }
    }
  }
}

/* Portfolio | Project Section
   ========================================================================= */

/* Styles for a row of a project page (where used) */
.project-row {
  padding-bottom: 1.5em;

  /* Increase bottom padding for last project row on a page */
  &:last-of-type {
    padding-bottom: 2.4em;
  }
}

/* Styles for a section of a project page */
.project-section {
  padding: 0 0 2.4em;

  /* Increase bottom padding on medium and up devices */
  @include breakpoint($mq-medium) {
    padding-bottom: 3.6em;
  }

  /* Increase bottom padding even more on large devices */
  @include breakpoint($mq-large) {
    padding-bottom: 4.8em;
  }

  /* Alter bottom padding for last project section */
  &:last-of-type {
    padding-bottom: 2.4em;
  }
}

/* Styles for the description of a project */
.project-section-description {
  margin-bottom: 1.2em;

  /* No margin on large devices */
  @include breakpoint($mq-large) {
    margin-bottom: 0;
  }
}

/* Styles specifically for a mobile project images */
.photos-mobile {
  text-align: center;
}
