/* =========================================================================
   Portfolio
   ========================================================================= */

/* Portfolio | Project
   ========================================================================= */

/* Styles for the main content on a portfolio page */
.project {
  padding-top: 56px;

  /* Increase top padding on medium and up devices */
  @include breakpoint($mq-medium) {
    padding-top: 64px;
  }
}

/* Override styles for text-only projects */
.project.wgi-buzz,
.project.wgiki,
.project.wgi-informer,
.project.university-of-michigan-athletics {

  /* Alter padding for these portfolio pages' project sections */
  .project-section {
    padding: 0 0 1.8em;

    /* Increase padding on large devices */
    @include breakpoint($mq-large) {
      padding: 0 1.2em 2.4em;
    }
  }
}

/* Portfolio | Project Photos
   ========================================================================= */

/* Styles for the project photos (overview/preview photos) */
.project-photos {
  margin: 0 auto 3em;
  max-width: 640px;
  position: relative;
}

/* Portfolio | Project Overview
   ========================================================================= */

/* Styles for project overview section */
.project-overview {
  padding-bottom: 1.8em;

  /* Increase bottom padding on large devices */
  @include breakpoint($mq-large) {
    padding-bottom: 2.4em;
  }

  .subtitle {
    font-size: 1.5rem;

    /* Increase overview font size on medium and up devices */
    @include breakpoint($mq-medium) {
      font-size: 2rem;
    }
  }
}

/* Styles for project description */
.project-description {
  padding-bottom: 1.2em;

  /* Increase bottom padding on large devices */
  @include breakpoint($mq-large) {
    padding-bottom: 2.4em;
  }
}

/* Styles for container of roles, tech, and platforms */
.project-thirds {
  text-align: center;
}

/* Give bottom padding to roles and tech */
.project-roles,
.project-tech {
  padding-bottom: 1.2em;

  /* Remove bottom padding on large devices */
  @include breakpoint($mq-large) {
    padding-bottom: 0;
  }
}

/* Styles for the the buttons to go to the live site or GitHub */
.project-live {
  text-align: center;

  /* Styles for the button */
  .btn {
    font-size: 1rem;
    margin-top: 2em;
    padding: 1em 1.5em;
    width: 49%;

    /* Alter some styles on medium and up devices */
    @include breakpoint($mq-medium) {
      font-size: 1.5rem;
      padding: .66667em 1.5em;
      width: auto;
    }

    /* For all but first button, add left margin on medium and up devices */
    &:not(:first-of-type) {
      @include breakpoint($mq-medium) {
        margin-left: 1em;
      }
    }
  }
}

/* Portfolio | Project Section
   ========================================================================= */

/* Styles for a section of a project page */
.project-section {
  padding: 0 0 2.4em;

  /* Increase bottom padding on large devices */
  @include breakpoint($mq-large) {
    padding-bottom: 4.8em;
  }

  /* Alter bottom padding for last project section */
  &:last-of-type {
    padding-bottom: 2.4em;
  }
}

/* Styles for the description of a project */
.section-description {
  margin-bottom: 1.2em;

  /* No margin on large and up devices */
  @include breakpoint($mq-large) {
    margin-bottom: 0;
  }
}

/* Styles specifically for a mobile project images */
.photos-mobile {
  text-align: center;
}
