/* =========================================================================
   Scrolling
   ========================================================================= */

/* Styles for header when any page is scrolling */
.scrolling header {
  background-color: rgba($ph-blue, 0.75);
  box-shadow: 0 0 8px $gray-2;

  /* Styles for the header menu when any page is scrolling */
  .menu {
    background-color: transparent;
    box-shadow: none;
    position: static;
  }

  .menu-item {

    /* Yellow border for active header menu item */
    &.active {
      border-bottom-color: $ph-yellow;
    }

    /* Make inactive menu items more transparent */
    &:not(.active) {
      opacity: 0.7;
    }
  }
}

/* Scrolling | Home
   ========================================================================= */

/* Header menu styles when home page is scrolling on small devices */
.default-page.scrolling header .menu {
  @include breakpoint($mq-small) {
    background-color: rgba($ph-blue, 0.75);
    box-shadow: 0 0 8px $gray-2;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 100;
  }
}


/* Scrolling | Project
   ========================================================================= */

/* Make all project page menu items full opacity */
.project-page.scrolling header .menu-item {
  opacity: 1;
}
