/* =========================================================================
   Scrolling
   ========================================================================= */

/* Styles for header when any page is scrolling */
.scrolling header {
  background-color: rgba($ph-blue, 0.75);
  box-shadow: 0 0 8px $gray-2;

  /* Styles for the header menu when any page is scrolling */
  .menu {
    background-color: transparent;
    box-shadow: none;
    position: static;
  }

  /* Yellow border for active header menu item */
  .menu-item.active {
    border-bottom-color: $ph-yellow;
  }
}

/* Scrolling | Home
   ========================================================================= */

/* Header menu styles when home page is scrolling on small devices */
.default-page.scrolling header .menu {
  @include breakpoint($mq-small) {
    background-color: rgba($ph-blue, 0.75);
    box-shadow: 0 0 8px $gray-2;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 100;
  }
}
