/* =========================================================================
   Navigation
   ========================================================================= */

/* Navigation | Main Nav
   ========================================================================= */

/* Styles for main site navigation (top navigation bar) */
.main-nav {

  /* Set background and font colors */
  @include color-element($ph-blue, $ph-yellow);

  /* Main nav bar styles */
  box-shadow: 0 0 8px $gray-2;
  font-family: $ubuntu;
  max-width: 100%;
  padding-left: 8px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 999;

  /* Styles for medium and up devices */
  @include breakpoint($mq-medium) {
    padding-left: 16px;
    text-align: left;
  }

  /* Styles for big devices */
  @include breakpoint($mq-big) {
    padding-left: 24px;
  }

  /* Float logo left and adjust margin and padding */
  .logo {
    float: left;
    margin-top: -6px;

    /* Increase top margin on medium and up devices */
    @include breakpoint($mq-medium) {
      margin-top: -5px;
    }

    /* Add padding on the logo text */
    h1 {
      padding: 14px 0 8px;

      /* Increase padding on medium and up devices */
      @include breakpoint($mq-medium) {
        padding: 17px 0 12px;
      }
    }
  }

  /* Styles for the navigation avatar that shows on small devices */
  .avatar {
    display: inline-block;
    float: none;
    margin: .4em 0 0;

    /* Hide on medium and up devices */
    @include breakpoint($mq-medium) {
      display: none;
    }
  }

  /* Float menu links to the right */
  .menu {
    float: right;
  }

  /* Styles for a menu item */
  .menu-item {
    border-bottom: 3px solid transparent;
    font-size: 1.25rem;
    padding-bottom: 9px;
    padding-top: 14px;
    transition: .3s;

    /* Styles for medium and up devices */
    @include breakpoint($mq-medium) {
      padding-bottom: 13px;
      padding-top: 18px;
    }

    /* Styles for hovering over a navigation item (yellow underline) */
    &:hover {
      border-bottom-color: transparent;

      /* Styles for hovering over navigation icons */
      .menu-item-icon {
        transform: scale(1.25);
        transition: .3s;

        /* Don't scale icons on touch devices */
        .touch & {
          transform: scale(1);
        }
      }
    }
  }

  /* Animate menu icon properties over .3s */
  .menu-item-icon {
    font-size: 1.5rem;
    transition: .3s;
    vertical-align: -5%;

    /* Move grid icon down */
    &.fa-th {
      vertical-align: -10%;
    }

    /* Add left padding to right angle icon */
    &.fa-angle-right {
      margin-left: .16667em;
      margin-right: 0;
    }
  }
}
