---
title: Portfolio
---

<div class="grid-container">
  <h2 class="title">{ PORTFOLIO }</h2>

  <ul class="project-list">
    {% for project in site.portfolio reversed %}
      {% assign project_overview = site.data.pages.portfolio[project.slug].project_overview %}

      <li>
        <h3 class="project-list-title">{{ project.title }}</h3>

        <div class="project-list-body">
          <p class="project-list-teaser">{{ project_overview.teaser }}</p>

          <div class="project-list-buttons">
            <a class="btn btn-raised btn-view" href="{{ project.url }}"><span class="btn-icon btn-icon-left fa fa-share"></span>View</a>
            {% if project_overview.view_live %}
              <a class="btn btn-raised btn-live" href="{{ project_overview.view_live }}" target="_blank"><span class="btn-icon btn-icon-left fa fa-external-link"></span>Live</a>
            {% endif %}
            {% if project_overview.view_github %}
              <a class="btn btn-raised btn-github" href="{{ project_overview.view_github }}" target="_blank"><span class="btn-icon btn-icon-left fa fa-github"></span>GitHub</a>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
