---
title: portfolio
---

<div class="grid-container">
  <h2 class="title">{ PORTFOLIO }</h2>

  <div class="snapshots-wrapper kwicks-wrapper grid-33 tablet-grid-33 mobile-grid-100">
    <ul class="snapshots kwicks kwicks-vertical">
      {% for snapshot in site.data.portfolio %}
        {% assign loopindex = forloop.index | modulo: 2 %}

        {% if loopindex == 1 and forloop.index > 1 %}
            </ul>
          </div>
          <div class="snapshots-wrapper kwicks-wrapper grid-33 tablet-grid-33 mobile-grid-100">
            <ul class="snapshots kwicks kwicks-vertical">
        {% endif %}

        <li class="snapshot {{ snapshot.title }}-snapshot">
          <div class="snapshot-center">
            <div class="snapshot-name">{{ snapshot.name }}</div>

            <i class="snapshot-icon fa fa-3x fa-{{ snapshot.icon}}"></i>

            <div class="snapshot-body">
              <div class="snapshot-roles">
                <p class="snapshot-label">Roles</p>
                <p>{{ snapshot.roles }}</p>
              </div>

              <div class="snapshot-tech">
                <p class="snapshot-label">Tech</p>
                <p>{{ snapshot.tech }}</p>
              </div>

              <div class="snapshot-devices">
                <p class="snapshot-label">Platforms</p>
                <div class="snapshot-devices-icons">
                  {% if snapshot.desktop %}
                    <span class="fa fa-desktop"></span>
                  {% endif %}
                  {% if snapshot.tablet %}
                    <span class="fa fa-tablet"></span>
                  {% endif %}
                  {% if snapshot.mobile %}
                    <span class="fa fa-mobile"></span>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="snapshot-view">
              <a class="btn" href="/portfolio/{{ snapshot.title }}">View Project<span class="fa fa-angle-right"></span></a>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
