---
title: portfolio
---

<div class="grid-container">
  <h2 class="title">{ PORTFOLIO }</h2>

  <div class="kwicks-wrapper grid-33 tablet-grid-33 mobile-grid-100">
    <ul class="projects kwicks kwicks-vertical">
      {% for project in site.data.portfolio %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 1 and forloop.index > 1 %}
            </ul>
          </div>
          <div class="kwicks-wrapper grid-33 tablet-grid-33 mobile-grid-100">
            <ul class="projects kwicks kwicks-vertical">
        {% endif %}
        <li class="project {{ project.title }}">
          <div class="project-center">
            <div class="project-name">{{ project.name }}</div>

            <i class="project-icon fa fa-3x fa-{{ project.icon}}"></i>

            <div class="project-body">
              <div class="project-roles">
                <p class="project-label">Roles</p>
                <p>{{ project.roles }}</p>
              </div>

              <div class="project-tech">
                <p class="project-label">Tech</p>
                <p>{{ project.tech }}</p>
              </div>

              <div class="project-devices">
                <p class="project-label">Platforms</p>
                <div class="project-devices-icons">
                  {% if project.desktop %}
                    <span class="fa fa-desktop"></span>
                  {% endif %}
                  {% if project.tablet %}
                    <span class="fa fa-tablet"></span>
                  {% endif %}
                  {% if project.mobile %}
                    <span class="fa fa-mobile"></span>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="project-view">
              <a class="btn" href="/portfolio/{{ project.title }}">View Project<span class="fa fa-angle-right"></span></a>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
