<div class="browser border-2-gray border-radius-4 grid-100">
  <div class="browser_controls padding-0_5-0 position-relative">
    <ul class="browser_buttons center-align display-inline-block">
      <li class="browser_button first border-radius-50p display-inline-block"></li>
      <li class="browser_button second border-radius-50p display-inline-block"></li>
      <li class="browser_button third border-radius-50p display-inline-block"></li>
    </ul>
    <span class="browser_url border-2-gray border-radius-4 display-inline-block font-size-1 position-absolute">{{ page.browser_url }}</span>
  </div>
  <div class="clearfix browser_photo">
    <img class="float-left max-width-100p" src="/img/portfolio/{{ page.title }}/{{ page.browser_image }}" alt="{{ page.name }}">
  </div>
</div>
