<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|Ubuntu:400,500' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MM3CBC"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MM3CBC');</script>
    <!-- End Google Tag Manager -->

    <div id="wrapper" class="layout-{{ page.layout }}">
      <header id="masthead">
        <div class="logo">
          <a href="{{ site.url }}">
            <h1>
              <span class="letter">&lt;</span><span class="letter">P</span><span class="letter letter-animate">a</span><span class="letter letter-animate">t</span><span class="letter letter-animate">r</span><span class="letter letter-animate">i</span><span class="letter letter-animate">c</span><span class="letter letter-animate">k</span><span class="letter letter-animate">&gt;</span><span class="letter letter-animate">&lt;</span><span class="letter letter-animate">/</span><span class="letter">H</span><span class="letter letter-animate">o</span><span class="letter letter-animate">o</span><span class="letter letter-animate">p</span><span class="letter letter-animate">e</span><span class="letter letter-animate">r</span><span class="letter">&gt;</span>
            </h1>
          </a>
        </div>
        {% if page.layout == "home" %}
        <img src="/img/hero/hero_picture.jpg">
        {% endif %}
        <nav class="main-nav clearfix">
          {% if page.layout == "home" %}
          {% for item in site.data.nav %}
          <div class="nav-item nav-{{ item.id }}">
            <a href="#{{ item.id }}" title="{{ item.title }}">
              <span class="fa fa-{{ item.icon }}"></span>
              <div class="tooltip">{{ item.title }}</div>
            </a>
          </div>
          {% endfor %}
          {% endif %}
          {% if page.layout == "portfolio" %}
          <div class="nav-item">
            <a href="{{ site.url }}/portfolio/{{ page.previous }}" title="{{ page.previous_title }}">
              <span class="fa fa-angle-left"></span>
              <div class="tooltip">Previous</div>
            </a>
          </div>
          <div class="nav-item">
            <a href="{{ site.url }}/portfolio/{{ page.next }}" title="{{ page.next_title }}">
              <div class="tooltip">Next</div>
              <span class="fa fa-angle-right"></span>
            </a>
          </div>
          {% endif %}
        </nav>
      </header>
