<div class="phone border-2-gray position-absolute grid-30 tablet-grid-30 mobile-grid-30">
  <div class="phone_top center-align">
    <div class="phone_camera"><span class="border-radius-50p display-inline-block"></span></div>
    <div class="phone_top-parts"><span class="phone_sensor border-radius-50p display-inline-block"></span><span class="phone_speaker border-radius-4 display-inline-block"></span></div>
  </div>
  <div class="clearfix phone_photo border-2-gray">
    <img class="float-left max-width-100p" src="/img/portfolio/{{ page.title }}/{{ page.phone_image }}" alt="{{ page.name }}">
  </div>
  <div class="phone_bottom center-align">
    <div class="phone_button"><span class="border-2-gray border-radius-50p display-inline-block"></span></div>
  </div>
</div>
