/* =========================================================================
   Layout
   ========================================================================= */

/* Media Queries
   ========================================================================= */
$small_max: 46rem; // 736px
$medium_min: 46.0625rem; // 737px
$medium_max: 62rem; // 992px
$large_min: 62.0625rem; // 993px
$large_max : 75rem; // 1200px
$big_min: 75.0625rem; // 1201px

$mq_small: max-width $small_max; // @media (max-width: 46rem)
$mq_medium: min-width $medium_min; // @media (min-width: 46.0625rem)
$mq_large: min-width $large_min; // @media (min-width: 62.0625rem)
$mq_big: min-width $big_min; // @media (min-width: 75.0625rem)

/* =========================================================================
   Colors
   ========================================================================= */

/* Theme colors */
$blue: #101E43;
$body_gray: #666;
$middle_gray: #ccc;
$white: #fff;
$yellow: #FFDB00;

/* Map of colors for portfolio projects */
$project-colors: (
  wgi-buzz: rgb(96, 125, 139),
  wgiki: rgb(204, 204, 204),
  wgi-informer: rgb(25, 209, 99),
  jahleh-and-patricks-wedding: rgb(63, 234, 249),
  ms-omearas-multiage: rgb(255, 92, 88),
  university-of-michigan-athletics: rgb(255, 216, 86)
);

/* Brand colors */
$github_color: rgb(51, 51, 51);

/* =========================================================================
   Typography
   ========================================================================= */
$pt_sans: "PT Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$ubuntu: "Ubuntu", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
