/* ==========================================================================
   Colors
   ========================================================================== */

/* General
   ========================================================================== */

/* Gray default text color */
body {
  color: $body_gray;
}

/* Links */
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

/* Border styles */
.border-2-gray {
  border: 2px solid $middle_gray;
}

.border-radius-4 {
  border-radius: 4px;
}

.border-radius-50p {
  border-radius: 50%;
}

/* Cursor classes */
.cursor-pointer {
  cursor: pointer;
}

/* Buttons */
.btn {
  border: 2px solid;
  border-radius: 4px;
  transition: all 0.5s;

  &:hover {
    transition: all 0.5s;
  }
}

/* Header
   ========================================================================== */

#masthead {
  color: $yellow;

  @media #{$mq_mobile} {
    background-color: $blue;
  }

  /* Add styles while scrolling */
  &.scroll-header {
    background-color: rgba(16, 30, 67, 0.75);
    box-shadow: 0px 0px 8px #222;

    .main-nav {
      @media #{$mq_mobile} {
        background-color: rgba(16, 30, 67, 0.75);
        box-shadow: 0px 0px 8px #222;
      }
    }
  }

  /* Underline nav item on hover */
  .main-nav {
    .nav-item {
      border-bottom: 4px solid transparent;
      &:hover {
        border-bottom-color: $yellow;

        .touch & {
          border-bottom: 0;
        }
      }
    }
  }

  /* Underline active nav link based on section currently on */
  .about-active,
  .portfolio-active,
  .contact-active {
    border-bottom-color: $yellow !important;

    &:hover {
      border-bottom: 4px solid $yellow !important;
    }
  }
}

.layout-portfolio #masthead {
  background-color: rgba(16, 30, 67, 1);

  &.scroll-header {
    background-color: rgba(16, 30, 67, 0.75);
  }

  .main-nav {
    background-color: transparent;
    box-shadow: none;

    .nav-item {
      border-bottom: 4px solid transparent;

      &:hover {
        border-bottom: 4px solid;

        .touch & {
          border-bottom: 0;
        }
      }
    }
  }
}


/* Hero
   ========================================================================== */

#hero {
  color: $yellow;
  background: $blue url(/img/hero/hero_background_20150416.jpg) fixed;
  background-size: cover;

  @media #{$mq_mobile} {
    background: $blue;
  }

  /* Texture overlay */
  .hero_overlay {
    background: url(/img/hero/hero_texture_20150416.png) fixed;
  }

  /* Learn More button */
  .learn-more {
    opacity: 0;

    @media #{$mq_mobile} {
      opacity: 1;
    }

    .btn:hover {
      color: $blue;
      background-color: $yellow;
      border-color: $yellow;

      .touch & {
        color: $yellow;
        background-color: transparent;
      }
    }
  }

}

/* About
   ========================================================================== */

#about {
  color: $white;
  background: $yellow url(/img/about/about_background_20150328.jpg) fixed;
  background-size: cover;
}

/* Portfolio
   ========================================================================== */

#portfolio {
  .project_overlay {
    background-color: rgba(60, 60, 60, 0.75);
    color: $white;

  }
}

.portfolio-page {

  /* View project buttons */
  .view-project .btn {
    color: $blue;

    &:hover {
      background-color: $blue;
      border-color: $blue;
      color: $white;

      .touch & {
        color: $blue;
        background-color: transparent;
      }
    }
  }

  /* Browser wireframe colors */
  .browser .browser_controls {
    border-bottom: 2px solid $middle_gray;

    .browser_button {

      &.first {
        background-color: red;
      }

      &.second {
        background-color: orange;
      }

      &.third {
        background-color: green;
      }
    }
  }

  /* Phone wireframe colors */
  .phone {
    background-color: $white;
    border-radius: 16px;

    .phone_camera span,
    .phone_sensor {
      background-color: $middle_gray;
    }

    .phone_speaker {
      background-color: $middle_gray;
    }
  }
}

/* Contact
   ========================================================================== */

#contact {
  background-color: #222;

  /* Lighter gray when hovering over footer icons */
  .contact-icons span:hover {
    color: $middle_gray;

    .touch & {
      color: $body_gray;
    }
  }
}
