/* ==========================================================================
   Layout
   ========================================================================== */

/* General
   ========================================================================== */

/* Make box-sizing the more natural border-box for all elements */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  float: left;
}

/* Class to vertical align an element using mixin */
.vertical-align {
  @include vertical-align;
}

/* Class to horizontal align an element using mixin */
.horizontal-align {
  @include horizontal-align;
}

/* Clear classes */
.clear-both {
  clear: both;
}

/* Display classes */
.display-inline-block {
  display: inline-block;
}

.float-left {
  float: left;
}

.overflow-y-auto {
  overflow-y: auto !important;

  @media #{$mq_mobile} {
    overflow-y: hidden !important;
  }
}

/* Height classes */
.height-100p {
  height: 100%;

  @media #{$mq_mobile} {
    height: auto;
  }
}

.height-100v {
  height: 100vh;

  @media #{$mq_mobile} {
    height: auto;
  }
}

.max-height-750 {
  max-height: 750px;
}

/* Margin classes */
.margin-left-10p {
  margin-left: 5% !important;
}

.margin-left-2_5 {
  margin-left: 2.5rem;
}

/* Padding classes */
.padding-0_5-0 {
  padding: 0.5rem 0;
}

.padding-3-0 {
  padding: 3rem 0;
}

.padding-6-0 {
  padding: 6rem 0;
  @media #{$mq_mobile} {
    padding: 6rem 0 0;
  }
}

.padding-bottom-1_5 {
  padding-bottom: 1.5rem;
}

.padding-bottom-3 {
  padding-bottom: 3rem;
}

.padding-bottom-6 {
  padding-bottom: 6rem;
}

/* Position classes */
.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

/* Width classes */
.max-width-100p {
  max-width: 100%;
}

.width-100p {
  width: 100%;
}

/* Buttons */
.btn {
  padding: 1rem 4rem;
}

/* Header
   ========================================================================== */

#masthead {
  /* Fixed header with some padding and always on top */
  padding: 0.25rem 2rem 0;
  position: fixed;
  z-index: 100;

  @media #{$mq_mobile} {
    padding: 0;
    position: static;
  }

  /* Scrolling styles */
  &.scroll-header {
    @media #{$mq_mobile} {
      padding: 0.25rem 2rem 85px;
    }

    .main-nav {
      @media #{$mq_mobile} {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
      }
    }

    .logo {
      padding-top: 0.75rem;
    }
  }

  .logo {
    padding-top: 0.5rem;
    @media #{$mq_mobile} {
      float: none;
      padding-top: 0;
    }

    .letter-animate {
      @media #{$mq_mobile} {
        display: none;
      }
    }

    /* Collpase width and transition all letters with this class */
    .letter-collapsed {
      opacity: 0;
      max-width: 0;
      transition: all 0.5s ease-out;
    }

    /* On hover, expand width and transition all letters with this class */
    &:hover .letter-collapsed {
      opacity: 1;
      max-width: 37px;
      transition: all 0.5s ease-out;

      .touch & {
        display: none;
      }
    }
  }

  img {
    display: none;

    @media #{$mq_mobile} {
      display: inline-block;
      width: 50%;
      float: none;
      margin: 1rem 0 0;
    }
  }

  .main-nav {
    float: right;
    @media #{$mq_mobile} {
      float: none;
      width: 100%;
    }

    .nav-item {
      @media #{$mq_mobile} {
        float: left;
        width: 33.3333%;
      }

      /* Give left margin to all but first link */
      &:not(:first-of-type) {
        margin-left: 2.5rem;

        @media #{$mq_mobile} {
          margin-left: 0;
        }
      }

      /* Transition time for Font Awesome icons in navigation */
      .fa {
        transition: 0.5s;
      }

      /* On hover, make Font Awesome icons 1.5x their size */
      &:hover .fa {
        transition: 0.5s;
        transform: scale(1.5);

        .touch & {
          transform: scale(1);
        }
      }

      /* Pull the tooltips up and give some bottom spacing */
      .tooltip {
        margin-top: -0.25rem;
        padding-bottom: 0.25rem;
      }
    }
  }
}

.layout-portfolio #masthead {
  position: fixed;

  @media #{$mq_mobile} {
    padding: 0.25rem 2rem 0;
  }

  .logo {
    padding-top: 0.75rem;

    @media #{$mq_mobile} {
      float: left;
      padding-top: 0;
    }
  }

  .main-nav {
    @media #{$mq_mobile} {
      position: static;
      float: right;
      width: auto;
    }
  }

  .nav-item {
    @media #{$mq_mobile} {
      width: auto;
    }

    &:not(:first-of-type) {
      margin-left: 1em;
    }
  }
}

/* Hero
   ========================================================================== */

#hero {
  height: 100%;
  @media #{$mq_mobile} {
    display: none;
  }

  /* Position the overlay on the top left */
  .hero_overlay {
    top: 0;
    left: 0;
  }

  /* Push the Learn More button down from the top */
  .hero-animate {
    .tagline {
      display: none;
    }

    .learn-more {
      top: 6rem;
    }
  }
}

/* Portfolio
   ========================================================================== */

#portfolio {

  @media #{$mq_mobile} {
    padding-bottom: 3rem;
  }

  /* For all projects except the last, give bottom padding */
  .project {
    padding: 0;
    position: relative;

    .project_logo svg {
      float: left;
      height: auto;
      width: 100%;
    }

    .project_overlay {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0.5em 1em;
      width: 100%;
    }
  }


  /* Raise the mobile Font Awesome icon 5% */
  .project_platforms {
    .fa-desktop {
      margin-left: 0.25em;
    }
    .fa-mobile {
      vertical-align: -10%;
    }
  }
}

.portfolio-page {
  padding-top: 84px;

  @media #{$mq_tablet} {
    padding-top: 75px;
  }

  @media #{$mq_mobile} {
    padding-top: 64px;
  }

  .project_summary {
    .title {
      margin-top: 1.5rem;
    }

    .project_photos {
      max-width: 640px;
      margin: 0 auto 3rem;
    }

    .fa {
      margin-left: 0.25rem;
    }

    .btn {
      margin: 1.5rem 0;
    }

    .phone_button span {
      @media #{$mq_mobile} {
        width: 24px !important;
        height: 24px !important;
      }
    }
  }

  .project_section {
    padding: 1.5rem 0;

    .section_description {
      @media #{$mq_not_desktop} {
        margin-bottom: 1.5em;
      }
    }

    .browser {
      max-width: 725px;
      margin: 0 auto;

      .browser_photo {
        max-height: 388px;
        overflow: hidden;
      }
    }

    .phone {
      max-width: 355px;
      margin: 0 auto;

      .phone_photo {
        max-height: 568px;
        overflow: hidden;
      }
    }

    .phone.mobile {
      width: 30%;
      display: inline-block;
      margin: 0 auto;
      &:not(:first-of-type) {
        margin-left: 1rem;
      }

      @media #{$mq_not_desktop} {
        width: 100%;
        display: block;
        margin-bottom: 1.5em;

        &:not(:first-of-type) {
          margin: 0 auto;
          margin-bottom: 1.5em;
        }
      }
    }
  }

  /* Browser wireframe styles */
  .browser {
    padding: 0;

    .browser_controls {
      height: 48px;
      @media #{$mq_mobile} {
        height: 36px;
      }

      .browser_buttons {
        list-style-type: none;
        padding-left: 0.25rem;
        height: 28px;

        .browser_button {
          width: 8px;
          height: 8px;
          vertical-align: middle;
        }
      }

      .browser_url {
        right: 4px;
        left: 44px;
        padding-left: 8px;
      }
    }
  }

  /* Phone wireframe styles */
  .phone {
    top: 25%;
    right: -5%;
    z-index: 10;
    padding: 0 0.375rem;

    @media #{$mq_mobile} {
      right: -2.5%;
    }

    .phone_top {
      margin: 0.25rem 0 0.75rem;
    }

    .phone_camera span {
      width: 8px;
      height: 8px;
    }

    .phone_top-parts {
      margin-left: -12px;

      .phone_sensor {
        width: 4px;
        height: 4px;
        margin-right: 8px;
      }

      .phone_speaker {
        width: 32px;
        height: 4px;
      }
    }

    .phone_button {
      margin: 0.25rem 0;

      span {
        width: 32px;
        height: 32px;
      }
    }
  }

  &.university-of-michigan-athletics {
    .project_section {
      padding: 1.5rem;

      @media #{$mq_mobile} {
        padding: 1.5rem 0;
      }
    }
  }
}

/* Contact
   ========================================================================== */

#contact {
  padding-bottom: 0.75rem;

  /* Give all icons except the first left margin */
  .contact-icons :not(:first-child) {
    margin-left: 5%;

    @media #{$mq_mobile} {
      margin-left: 8%;
    }
  }
}

/* Adjust some footer styles when layout is a portfolio page */
.layout-portfolio #contact {
  padding: 1.5rem 0 0.75rem;

  .contact-icons {
    padding-bottom: 0.75rem;
  }
}
