/* ==========================================================================
   Logo
   ========================================================================== */

/* Styles for logo */
.logo {
  float: none;
  font-size: 3rem;
  line-height: 1;
  padding: 0.2em 0;

  /* Styles for medium and up devices */
  @include breakpoint($mq_medium) {
    float: left;
    font-size: 2.5rem;
    margin-top: -5px;
    padding: 0;
  }

  /* Add padding on the logo text on medium and up devices */
  h1 {
    @include breakpoint($mq_medium) {
      padding: 17px 0 12px;
    }
  }

  /* Styles for a letter in the logo */
  .letter {
    display: inline-block;

    /* Hide animated logo letter on medium and up devices */
    &.letter-animate {
      display: none;

      @include breakpoint($mq_medium) {
        display: inline-block;
      }
    }

    /* Styles for a collapsed logo letter */
    &.letter-collapsed {
      max-width: 0;
      opacity: 0;
      transition: all 0.3s ease-out;
    }
  }

  /* Styles for collapsed header when hovering over logo (expand) */
  &:hover .letter-collapsed {
    max-width: 37px;
    opacity: 1;
    transition: all 0.3s ease-out;

    /* Negate hover styles for touch devices */
    .touch & {
      display: none;
    }
  }
}
