/* =========================================================================
   Navigation
   ========================================================================= */

/* Main
   ========================================================================= */

/* Styles for navigation */
.main-nav {
  float: none;
  width: 100%;

  /* Styles for medium and up devices */
  @include breakpoint($mq-medium) {
    float: right;
    width: auto;
  }

  /* Styles for an individual navigation item */
  .nav-item {
    border-bottom: 3px solid transparent;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 1.25rem;
    padding-bottom: 10px;
    padding-top: 13px;
    text-align: center;
    transition: .3s;
    width: 50%;

    /* Styles for medium and up devices */
    @include breakpoint($mq-medium) {
      padding: 18px 16px 13px;
      width: auto;
    }

    /* Styles for big devices */
    @include breakpoint($mq-big) {
      padding-left: 24px;
      padding-right: 24px;
    }

    /* Styles for hovering over a nav item (yellow underline) */
    &:hover {

      /* Negate hover styles on touch devices */
      .touch & {
        border-bottom: 0;
      }

      /* Styles for hovering over navigation icons */
      .fa {
        transform: scale(1.25);
        transition: .3s;

        /* Negate hover styles on touch devices */
        .touch & {
          transform: scale(1);
        }
      }
    }

    /* Styles for an active navigation item */
    &.active {
      border-bottom-color: $ph-yellow !important;

      /* Styles for hovering over an active navigation item */
      &:hover {
        border-bottom: 3px solid $ph-yellow !important;
        transition: .3s;
      }
    }

    /* Styles for navigation icons */
    .fa {
      font-size: 1.5rem;
      margin-right: .16667em;
      transition: .3s;
      vertical-align: -5%;

      /* Move grid icon down */
      &-th {
        vertical-align: -10%;
      }
    }

    /* Styles navigation item text/tooltip */
    .tooltip {
      display: inline-block;
    }
  }
}
