/* ==========================================================================
   Navigation
   ========================================================================== */

/* Main
   ========================================================================== */

/* Styles for navigation */
.main-nav {
  @extend .clearfix;

  float: none;
  width: 100%;

  /* Styles for medium and up devices */
  @include breakpoint($mq_medium) {
    float: right;
    width: auto;
  }

  /* Styles for an individual navigation item */
  .nav-item {
    border-bottom: 3px solid transparent;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 1.25rem;
    padding-bottom: 9px;
    padding-top: 13px;
    text-align: center;
    transition: 0.3s;
    width: 50%;

    /* Styles for medium and up devices */
    @include breakpoint($mq_medium) {
      padding: 0 16px 13px;
      width: auto;
    }

    /* Styles for hovering over a nav item (yellow underline) */
    &:hover {

      /* Negate hover styles on touch devices */
      .touch & {
        border-bottom: 0;
      }

      /* Styles for hovering over navigation icons */
      .fa {
        transform: scale(1.25);
        transition: 0.3s;

        /* Negate hover styles on touch devices */
        .touch & {
          transform: scale(1);
        }
      }
    }

    /* Styles for an active navigation item */
    &.active {
      border-bottom-color: $yellow !important;

      /* Styles for hovering over an active navigation item */
      &:hover {
        border-bottom: 3px solid $yellow !important;
        transition: 0.3s;
      }
    }

    /* Styles for navigation icons */
    .fa {
      font-size: 1.5rem;
      margin-right: 0.16667em;
      transition: 0.3s;
      vertical-align: -5%;

      /* Move grid icon down */
      &-th {
        vertical-align: -10%;
      }
    }

    /* Styles navigation item text/tooltip */
    .tooltip {
      display: inline-block;
    }
  }
}
