<section class="project-section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
  {% if project_section_loop_index == 1 %}
    <div class="project-section-description grid-33 push-66 tablet-grid-100 mobile-grid-100">
  {% else %}
    <div class="project-section-description grid-33 tablet-grid-100 mobile-grid-100">
  {% endif %}
    <h3 class="subtitle">{ {{ project_section.subtitle | upcase }} }</h3>

    <p>{{ project_section.description }}</p>
  </div>

  {% if project_section_loop_index == 1 %}
    <div class="project-section-photos grid-66 pull-33 tablet-grid-100 mobile-grid-100">
  {% else %}
    <div class="project-section-photos grid-66 tablet-grid-100 mobile-grid-100">
  {% endif %}
    {% include components/browser-wireframe.html url=project_section_browser.url scroll=project_section_browser.image_scroll name=project_section_browser.image_name ext=project_section_browser.image_extension alt=project_section_browser.image_alt %}
  </div>
</section>
