/* =========================================================================
   Arrow
   ========================================================================= */

/* Styles for a CSS arrow */
.arrow {
  content: '';
  height: 0;
  position: absolute;
  width: 0;
}
