/* =========================================================================
   Contact Icons
   ========================================================================= */

/* Styles for Contact section */
.contact {
  text-align: center;

  /* Styles for all but first icon */
  :not(:first-child) {
    margin-left: 10%;

    /* Decrease margin on large devices */
    @include breakpoint($mq-large) {
      margin-left: 5%;
    }
  }
}

/* Make contact icon text gray normally, lighter gray on hover */
.contact-icon {
  @include icon-hover($gray-6, $gray-c);
}
