<section class="hero home-hero">
  <div class="overlay">
    <span class="arrow"></span>
  </div>

  <div class="home-hero-animation">
    <section class="taglines">
      <div class="typed"></div>
      <div class="typed-strings">
        <p>Web (App) Developer...</p>
        <p>Life Enthusiast...</p>
        <p>Technology Fanboy...</p>
        <p>Happily Married...</p>
        <p>Cheesecake Evangelist...</p>
        <p>World Traveler...</p>
      </div>
    </section>

    <a class="btn cta" href="#about">...and more.</a>
  </div>
</section>
