/* ==========================================================================
   Colors
   ========================================================================== */

/* General
   ========================================================================== */

/* Body text to lighter gray */
body {
  color: $body_gray;
}

/* Remove text decor and colors from links */
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

/* On touch devices, no hover effects for external links */
.touch a[target="_blank"]:hover {
  opacity: 1;
}

/* Class to underline an element */
.underline {
  &,
  &:hover {
    text-decoration: underline;
    transition: opacity 0.15s ease-in-out;
  }

  /* On hover, make less opaque */
  &:hover {
    opacity: 0.75;
  }
}
