/* =========================================================================
   Mixins
   ========================================================================= */

/* Mixins | Structure
   ========================================================================= */

/**
 * Align an element in the absolute middle of its container.
 * @param { String } $direction - Center with respect to top or bottom
 * @param { Number } $amount - Amount to move element in given direction
 * @param { Number } $y - Translated Y position of element
 */
@mixin absolute-center($direction, $amount, $y) {
  left: 50%;
  #{$direction}: $amount;
  transform: translate(-50%, $y);
}

/**
 * Set an element's height in vh and percentage units.
 * @param { Number } $height - Height of element
 */
@mixin height-fallback($height) {
  height: $height * 1%;
  height: $height * 1vh;
}

/**
 * Vertically align an element in the middle of its container.
 * @param { Number } $top - Amount to move element from the top
 */
@mixin vertical-align($top) {
  top: $top;
  transform: translateY(-50%);
}

/* Mixins | Color
   ========================================================================= */

/**
 * Set background and font color for an element.
 * @param { String } $background-color - Background color for element
 * @param { String } $color - Text color for element
 */
@mixin color-element($background-color, $color) {
  background-color: $background-color;
  color: $color;
}

/* Mixins | Arrow
   ========================================================================= */

/**
 * Make a CSS down arrow using borders.
 * @param { Number } $border-width - Width/thickeness of the borders
 */
@mixin arrow-down($border-width) {
  border-left: $border-width solid transparent;
  border-right: $border-width solid transparent;
  border-top: $border-width solid transparent;
}

/* Mixins | Button
   ========================================================================= */

/**
 * Set colors and animate for button hovers.
 * @param { String } $background-color - Background color for button
 * @param { String } $color - Text color for button
 */
@mixin button-hover($background-color, $color) {
  border-color: $background-color;
  color: $background-color;
  transition: all 0.3s;

  /* Hover styles */
  &:hover {

    /* Set background and font colors */
    @include color-element($background-color, $color);

    /* Animate over .3s */
    transition: all 0.3s;
  }

  /* Negate hover styles on touch devices (reset background and font colors) */
  .touch & {
    @include color-element(transparent, $background-color);
  }
}

/* Mixins | Icon
   ========================================================================= */

/**
 * Set hover and touch colors for an icon.
 * @param { String } $color - Text color for icon
 * @param { String } $hover-color - Hover text color for icon
 */
@mixin icon-hover($color, $hover-color) {

  /* Transition hover color over .3s */
  transition: 0.3s;

  /* Change color on hover */
  &:hover {
    color: $hover-color;

    /* Don't change color on hover on touch devices */
    .touch & {
      color: $color;
    }
  }
}
