<div class="browser">
  <div class="browser-controls">
    <ul class="browser-buttons">
      <li class="browser-button first"></li>
      <li class="browser-button second"></li>
      <li class="browser-button third"></li>
    </ul>
    <span class="browser-url">{{ include.url }}</span>
  </div>

  <div class="clearfix browser-photo {{ include.scroll }}">
    <img class="lazy" data-src="/assets/img/{{ include.image }}.{{ include.extension }}" data-src-retina="/assets/img/{{ include.image }}@2x.{{ include.extension }}" alt="{{ page.name }} {{ include.alt }}">
    <noscript><img src="/assets/img/{{ include.image }}.{{ include.extension }}" alt="{{ page.name }} {{ include.alt }}"></noscript>
  </div>
</div>
