<div class="logo">
  <a href="/">
    <h1>
      <span class="logo-letter">&lt;</span><span class="logo-letter">P</span><span class="logo-letter animate">a</span><span class="logo-letter animate">t</span><span class="logo-letter animate">r</span><span class="logo-letter animate">i</span><span class="logo-letter animate">c</span><span class="logo-letter animate">k</span><span class="logo-letter animate">&gt;</span><span class="logo-letter animate">&lt;</span><span class="logo-letter animate">/</span><span class="logo-letter">H</span><span class="logo-letter animate">o</span><span class="logo-letter animate">o</span><span class="logo-letter animate">p</span><span class="logo-letter animate">e</span><span class="logo-letter animate">r</span><span class="logo-letter">&gt;</span>
    </h1>
  </a>
</div>
