@import '../variables.css';

.link {
  color: var(--color-bittersweet);
  display: inline-block;
  font-weight: 600;
  position: relative;
  text-decoration: none;

  &::after {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    content: '';
    display: block;
    transform: scaleX(0);
    transition: transform 0.15s;
  }

  &:matches(:hover, :active, :focus)::after {
    transform: scaleX(1);
  }
}

.button,
.alternate-button {
  border-radius: 2px;
  font-family: var(--font-space-mono);
  font-size: 0.875rem;
  font-weight: 700;
  min-width: 3.75rem;
  padding: 0.5em;
  text-align: center;
  transition: box-shadow 0.15s ease;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  &::after {
    content: none;
  }
}

.button {
  background: var(--color-bittersweet);
  color: white;
}

.alternate-button {
  background: var(--color-porcelain);
  color: var(--color-emperor);
}

.button + .alternate-button {
  margin-left: 0.5em;
}
