@import '../utils/variables.css';

.link {
  color: var(--color-night-rider);
  display: inline-block;
  position: relative;
  text-decoration: none;

  &::before,
  &::after {
    border-bottom-width: 1px;
    content: '';
    display: block;
  }

  &::before {
    border-bottom-style: dotted;
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  &::after {
    border-bottom-style: solid;
    transform: scaleX(0);
    transition: transform 0.15s;
  }

  &:matches(:hover, :active, :focus)::after {
    transform: scaleX(1);
  }
}

.button {
  background: var(--color-robins-egg-blue);
  border-bottom: 2px solid var(--color-robins-egg-blue);
  border-bottom-color: var(--color-persian-green);
  border-radius: 2px;
  color: white;
  font-family: var(--font-space-mono);
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.42857em 0.57143em;
  transition: background-color 0.15s;

  @media (--medium-viewport) {
    font-weight: 400;
  }

  &::before,
  &::after {
    content: none;
  }

  &:hover,
  &:active,
  &:focus {
    background: var(--color-persian-green);
  }
}
