/* =========================================================================
   Avatar
   ========================================================================= */

/* Styles for avatars (circular people photos) */
.avatar {
  border-radius: 50%;
  max-width: 240px;
  width: 50%;
}
