/* =========================================================================
   Button
   ========================================================================= */

/* Styles for buttons */
.btn,
a.btn {
  border: 2px solid;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: $ubuntu;
  padding: .66667em 1.5em;
}

/* Styles for a raised button */
.btn-raised,
a.btn-raised {
  border: 0;
  box-shadow: 0 2px 5px 0 rgba($black, .16), 0 2px 10px 0 rgba($black, .12);
  color: $white;
  transition: box-shadow .3s ease-in-out, opacity .3s ease-in-out;

  /* Increase box shadow and lighten on hover */
  &:hover {
    box-shadow: 0 5px 11px 0 rgba($black, .18), 0 4px 15px 0 rgba($black, .15);
    color: $white;
    opacity: .75;
  }
}

/* Give GitHub button a gray background color */
.btn-github {
  background-color: $github-gray;
}

/* Give Live button a blue background color */
.btn-live {
  background-color: $ph-blue;
}

/* Give Overview button a slightly darkened yellow background color */
.btn-overview {
  background-color: darken($ph-yellow, 3%);
}

/* Give right margin to icons that are left of button text */
.btn-icon-left {
  margin-right: .5em;
}

/* Give left margin to icons that are right of button text */
.btn-icon-right {
  margin-left: .5em;
}
