/* =========================================================================
   Contact Icons
   ========================================================================= */

/* Styles for icons in Contact section */
.contact-icons {
  font-size: 1rem;
  padding-bottom: 1em;
  text-align: center;

  /* Increase font size on medium and up devices */
  @include breakpoint($mq-medium) {
    font-size: 1.25rem;
  }

  /* Styles for all but first icon */
  :not(:first-child) {
    margin-left: 10%;

    /* Decrease margin on large and up devices */
    @include breakpoint($mq-large) {
      margin-left: 5%;
    }
  }
}

/* Styles for an individual icon */
.contact-icon {
  transition: .3s;

  /* Change color on hover */
  &:hover {
    color: $gray-c;

    /* Keep color the same on hover */
    .touch & {
      color: $gray-6;
    }
  }
}
