/* =========================================================================
   Logo
   ========================================================================= */

/* Styles for logo */
.logo {
  float: left;
  font-size: 2.5rem;
  line-height: 1;
  margin-top: -6px;
  padding: 0;

  /* Increase top margin on medium and up devices */
  @include breakpoint($mq-medium) {
    margin-top: -5px;
  }

  /* Styles for collapsed header when hovering over logo (expand) */
  &:hover .logo-letter.collapsed {
    max-width: 37px;
    opacity: 1;
    transition: all .3s ease-out;

    /* Negate hover styles for touch devices */
    .touch & {
      display: none;
    }
  }

  /* Add padding on the logo text */
  h1 {
    padding: 14px 0 8px;

    /* Increase padding on medium and up devices */
    @include breakpoint($mq-medium) {
      padding: 17px 0 12px;
    }
  }
}

/* Styles for a letter in the logo */
.logo-letter {
  display: inline-block;

  /* Animated logo styles */
  &.animate {
    display: none;

    /* Hide animated logo letter on medium and up devices */
    @include breakpoint($mq-medium) {
      display: inline-block;
    }
  }

  /* Styles for a collapsed logo letter */
  &.collapsed {
    max-width: 0;
    opacity: 0;
    transition: all .3s ease-out;
  }
}
