/* =========================================================================
   Logo
   ========================================================================= */

/* Styles for logo */
.logo {
  font-size: 2.5rem;
  line-height: 1;
  padding: 0;

  /* Styles for collapsed logo letter when hovering over logo (expand) */
  &:hover .logo-letter.collapsed {
    max-width: 37px;
    opacity: 1;
    transition: all .3s ease-out;

    /* Negate hover styles for touch devices */
    .touch & {
      display: none;
    }
  }
}

/* Styles for a letter in the logo */
.logo-letter {
  display: inline-block;

  /* Animated logo styles */
  &.animate {
    display: none;

    /* Hide animated logo letter on medium and up devices */
    @include breakpoint($mq-medium) {
      display: inline-block;
    }
  }

  /* Styles for a collapsed logo letter */
  &.collapsed {
    max-width: 0;
    opacity: 0;
    transition: all .3s ease-out;
  }
}
