/* =========================================================================
   Main Navigation
   ========================================================================= */

/* Styles for main (site) navigation */
.main-nav {
  float: right;
  width: auto;

  /* Styles for the main navigation when the page is scrolling */
  .scrolling & {
    background-color: transparent;
    box-shadow: none;
    position: static;
  }

  /* Styles for an individual navigation item */
  .nav-item {
    border-bottom: 3px solid transparent;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 1.25rem;
    padding: 14px 8px 9px;
    text-align: center;
    transition: .3s;

    /* Styles for medium and up devices */
    @include breakpoint($mq-medium) {
      padding: 18px 16px 13px;
    }

    /* Styles for big devices */
    @include breakpoint($mq-big) {
      padding-left: 24px;
      padding-right: 24px;
    }

    /* Styles for hovering over a navigation item (yellow underline) */
    &:hover {
      border-bottom-color: transparent;

      /* Styles for hovering over navigation icons */
      .nav-icon {
        transform: scale(1.25);
        transition: .3s;

        /* Don't scale icons on touch devices */
        .touch & {
          transform: scale(1);
        }
      }
    }

    /* Styles for an active navigation item */
    &.active {
      border-bottom-color: $ph-yellow;
    }
  }

  /* Styles for navigation icons */
  .nav-icon {
    font-size: 1.5rem;
    margin-right: .16667em;
    transition: .3s;
    vertical-align: -5%;

    /* Move grid icon down */
    &.fa-th {
      vertical-align: -10%;
    }

    /* Add left padding to right angle icon */
    &.fa-angle-right {
      margin-left: .25em;
      margin-right: 0;
    }
  }

  /* Styles navigation item text */
  .nav-text {
    display: inline-block;
  }
}
