/* =========================================================================
   Menu
   ========================================================================= */

/* Base styles for a menu item */
.menu-item {
  cursor: pointer;
  text-align: center;
}

/* Give right margin to menu items that are left of text */
.menu-item-icon-left {
  margin-right: .16667em;
}

/* Give left margin to menu items that are right of text */
.menu-item-icon-right {
  margin-left: .16667em;
}

/* Display menu item text inline */
.menu-item-text {
  display: inline-block;
}

/* Menu | Horizontal
   ========================================================================= */

/* Styles for an individual navigation item in a horizontal menu */
.horizontal-menu .menu-item {
  float: left;
  padding-left: 8px;
  padding-right: 8px;

  /* Styles for medium and up devices */
  @include breakpoint($mq-medium) {
    padding-left: 16px;
    padding-right: 16px;
  }

  /* Styles for big devices */
  @include breakpoint($mq-big) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
