/* =========================================================================
   Menu
   ========================================================================= */

/* Base styles for a menu item */
.menu-item {
  cursor: pointer;
  font-size: 1.25rem;
  text-align: center;
}

/* Base styles for a menu icon */
.menu-item-icon {
  font-size: 1.5rem;
  margin-right: .16667em;
  vertical-align: -5%;

  /* Move grid icon down */
  &.fa-th {
    vertical-align: -10%;
  }

  /* Add left padding to right angle icon */
  &.fa-angle-right {
    margin-left: .25em;
    margin-right: 0;
  }
}

/* Display menu item text inline */
.menu-item-text {
  display: inline-block;
}

/* Menu | Horizontal
   ========================================================================= */

/* Styles for an individual navigation item in a horizontal menu */
.horizontal-menu .menu-item {
  float: left;
  padding-left: 8px;
  padding-right: 8px;

  /* Styles for medium and up devices */
  @include breakpoint($mq-medium) {
    padding-left: 16px;
    padding-right: 16px;
  }

  /* Styles for big devices */
  @include breakpoint($mq-big) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
