/* =========================================================================
   Overlay
   ========================================================================= */

/* Styles for an overlay */
.overlay {

  /* Set height in vh with % fallback */
  @include height-fallback(100);

  /* Styles for the overlay */
  background: rgba($black, .5) fixed;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
