/* =========================================================================
   Snapshot
   ========================================================================= */

/* Give the snapshots wrapper a height */
.snapshots-wrapper {
  height: 500px;
  padding: 0;
}

/* Make vertical & horizontal Kwicks panels take up 100% width and height */
.snapshots {
  height: 100%;
  width: 100%;

  /* 100% width for items in the Kwicks vertical */
  > li {
    width: 100%;
  }
}

/* Styles for a snapshot */
.snapshot {
  border: 1px solid $white;
  padding: 0 16px;

  /* Styles for hovering over a snapshot */
  &:hover {

    /* Make the centering div full height */
    .snapshot-center {
      height: 100%;
      top: 0;
    }

    /* Make the icon fade out to 0 opacity */
    .snapshot-icon {
      opacity: 0;
    }

    /* Move the title to 16px from the top of the snapshot */
    .snapshot-title {
      top: 16px;
    }

    /* Fade in the body and view button to full opacity (1) */
    .snapshot-body,
    .snapshot-view {
      opacity: 1;
      transition: opacity .3s ease-in-out .25s;
    }
  }

  /* Loop through map of snapshot colors and set colors */
  @each $snapshot, $color in $snapshot-colors {

    /* Background color is a shade of gray */
    &.#{$snapshot}-snapshot {
      background: $gray-d;

      /* On hover, make background just solid color */
      &:hover {
        background: $color;
      }

      /* Set hover text color for a button of this snapshot */
      .btn:hover {
        color: $color;
      }
    }
  }
}

/* Styles for the center positioning div of a snapshot */
.snapshot-center {
  height: 0; // Start with no height - this gets animated
  padding-bottom: 50%;
  position: relative;
  top: 25%;
  transition: height .3s, top .3s;

  /* Reset font size to 1rem for all paragraphs in a snapshot */
  p {
    font-size: 1rem;
  }
}

/* Styles for a snapshot's title */
.snapshot-title {
  color: $white;
  font-family: $ubuntu;
  line-height: 1;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 8px;
  transition: top .3s ease-in-out;
  width: 100%;
}

/* Styles for the icon for each snapshot */
.snapshot-icon {
  color: $white;
  position: absolute;
  text-align: center;
  top: 64px;
  transition: opacity .3s ease-in-out;
  width: 100%;
  z-index: 1;
}

/* Style for the body that holds roles, tech, and platforms */
.snapshot-body {
  color: $white;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 47.5%;
  transform: translateY(-50%);
  width: 100%;
}

/* Styles for the label ("Roles", "Tech", "Platforms", etc.) */
.snapshot-label {
  border-bottom: 2px solid;
  display: inline-block;
  font-family: $ubuntu;
  font-size: .875rem;
  margin-bottom: .5em;
  padding-bottom: .25em;
  text-transform: uppercase;
}

/* Styles for the View button at the bottom of a snapshot */
.snapshot-view {
  bottom: 12px;
  color: $white;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 100%;

  /* Styles for a snapshot view button */
  .btn {
    font-size: 1.125rem;
    padding: .375em .75em;
    transition: background .15s ease-in-out;

    /* Hover background color to white */
    &:hover {
      background: $white;
      border-color: $white;
    }
  }
}
