<div class="browser">
  <div class="browser-controls">
    <ul class="browser-buttons">
      <li class="browser-button first"></li>
      <li class="browser-button second"></li>
      <li class="browser-button third"></li>
    </ul>
    <span class="browser-url">{{ include.url }}</span>
  </div>

  <figure class="clearfix browser-photo {{ include.scroll }}">
    <img class="lazy" data-src="/img/{{ include.name }}.{{ include.ext }}|/img/{{ include.name }}@2x.{{ include.ext }}" alt="{{ page.title }}{{ include.alt }}">
    <noscript><img src="/img/{{ include.name }}.{{ include.ext }}" alt="{{ page.title }}{{ include.alt }}"></noscript>
  </figure>
</div>
