<section class="project-section grid-100 tablet-grid-100 mobile-grid-100 grid-parent">
  <div class="project-section-description grid-100 tablet-grid-100 mobile-grid-100">
    <h3 class="subtitle">{ {{ project_section.subtitle | upcase }} }</h3>
  </div>

  <div class="project-section-photos photos-mobile grid-100">
    {% for project_section_phone in project_section_phones %}
      {% include project/phone.html class="mobile" scroll=project_section_phone.image_scroll name=project_section_phone.image_name ext=project_section_phone.image_extension alt=project_section_phone.image_alt %}
    {% endfor %}
  </div>
</section>
