/* =========================================================================
   Structure
   ========================================================================= */

/* Structure | Elements
 =========================================================================== */

/* Apply border-box sizing and make root element 100% height of viewport */
html {
  box-sizing: border-box;

  /* Set height in vh with % fallback */
  @include height-fallback(100);
}

/* Apply border-box sizing so element take up actual allotted space */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Make body and wrapper 100% height of viewport */
body,
#wrapper {

  /* Set height in vh with % fallback */
  @include height-fallback(100);
}

/* Make images float left and fill their container */
img {
  float: left;
  height: auto;
  max-width: 100%;
  width: 100%;
}

/* Structure | Classes
 =========================================================================== */

/* Class to make element clear both */
.clear-both {
  clear: both;
}

/* Class to scroll vertically when content is too long for area */
.scroll {
  overflow-y: auto !important;

  /* No scrolling vertically on small devices */
  .touch & {
    overflow-y: hidden !important;
  }
}
