/* =========================================================================
   Typography
   ========================================================================= */

/* Typography | Elements
 =========================================================================== */

/* Root element 100% font size */
html {
  font-size: 100%;
}

/* Assign body Roboto font and slightly larger font size/line height for readability */
body {
  font-family: $roboto;
  font-size: 125%;
  font-weight: 300;
  line-height: 1.5;
}

/* Give headings Ubuntu font and semi-bold font weight */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ubuntu;
  font-weight: 500;
}

/* Paragraph font size */
p {
  font-size: 1.125rem;

  /* Increase font size on medium and up devices */
  @include breakpoint($mq-medium) {
    font-size: 1.25rem;
  }
}

/* Make strong elements bolder */
strong {
  font-weight: 500;
}

/* Make em elements italicized */
em {
  font-style: italic;
}

/* Typography | Classes
 =========================================================================== */

/* Styles for titles */
.title {
  font-size: 2rem;
  line-height: 1;
  margin-top: 1em;
  padding-bottom: 1em;
  text-align: center;

  /* Styles for medium and up devices */
  @include breakpoint($mq-medium) {
    font-size: 3rem;
  }
}

/* Styles for subtitles */
.subtitle {
  font-size: 1.3rem;
  padding-bottom: .75em;
  text-align: center;

  /* Increase font size on medium and up devices */
  @include breakpoint($mq-medium) {
    font-size: 1.7rem;
  }
}
