/* ==========================================================================
   Header
   ========================================================================== */

/* Styles for the masthead (logo and navigation) */
#masthead {
  color: $yellow;
  font-family: $ubuntu;
  font-size: 2.5rem;
  padding: 0.1em 0.8em 0;
  position: fixed;
  width: 100%;
  z-index: 100;

  /* Styles for small devices */
  @include breakpoint($mq_small) {
    background-color: $blue;
    padding: 0;
    position: static;
    text-align: center;
  }

  /* Styles for masthead when page is scrolling */
  &.scroll-header {
    background-color: rgba(16, 30, 67, 0.75);
    box-shadow: 0px 0px 8px #222;
    font-size: 2rem;
    padding: 0.125em 1em 0;

    /* Styles for small devices */
    @include breakpoint($mq_small) {
      padding: 0.125em 1em 85px;
    }

    /* Styles for the navigation when the page is scrolling */
    .main-nav {

      /* Styles for small devices */
      @include breakpoint($mq_small) {
        background-color: rgba(16, 30, 67, 0.75);
        box-shadow: 0px 0px 8px #222;
        left: 0;
        position: fixed;
        top: 0;
        z-index: 100;
      }
    }

    /* Styles for logo when page is scrolling */
    .logo {
      padding-top: 0.375em;
    }
  }

  /* Styles for logo */
  .logo {
    float: left;
    padding-top: 0.3em;

    /* Styles for small devices */
    @include breakpoint($mq_small) {
      float: none;
      font-size: 4.5rem;
      padding-top: 0;
    }

    /* Styles for a letter in the logo */
    .letter {
      display: inline-block;

      /* Styles for an animated logo letter */
      &.letter-animate {
        @include breakpoint($mq_small) {
          display: none;
        }
      }

      /* Styles for a collapsed logo letter */
      &.letter-collapsed {
        max-width: 0;
        opacity: 0;
        transition: all 0.3s ease-out;
      }
    }

    /* Styles for collapsed header when hovering over logo (expand) */
    &:hover .letter-collapsed {
      max-width: 37px;
      opacity: 1;
      transition: all 0.3s ease-out;

      /* Negate hover styles for touch devices */
      .touch & {
        display: none;
      }
    }
  }

  /* Styles for masthead images (circular photo) */
  img {
    display: none;

    /* Styles for small devices */
    @include breakpoint($mq_small) {
      border-radius: 50%;
      display: inline-block;
      float: none;
      margin: 0.4em 0 0;
      width: 50%;
    }
  }

  /* Styles for navigation */
  .main-nav {
    float: right;

    /* Styles for small devices */
    @include breakpoint($mq_small) {
      float: none;
      width: 100%;
    }

    /* Styles for an individual navigation item */
    .nav-item {
      border-bottom: 4px solid transparent;
      display: inline-block;
      text-align: center;

      /* Styles for small devices */
      @include breakpoint($mq_small) {
        float: left;
        width: 33.3333%;
      }

      /* Styles for all but the first navigation item */
      &:not(:first-of-type) {
        margin-left: 1em;

        /* Styles for small devices */
        @include breakpoint($mq_small) {
          margin-left: 0;
        }
      }

      /* Styles for hovering over a nav item (yellow underline) */
      &:hover {
        border-bottom-color: $yellow;

        /* Negate hover styles on touch devices */
        .touch & {
          border-bottom: 0;
        }

        /* Styles for hovering over navigation icons */
        .fa {
          transform: scale(1.5);
          transition: 0.3s;

          /* Negate hover styles on touch devices */
          .touch & {
            transform: scale(1);
          }
        }
      }

      /* Styles for an active navigation item */
      &.active {
        border-bottom-color: $yellow !important;

        /* Styles for hovering over an active navigation item */
        &:hover {
          border-bottom: 4px solid $yellow !important;
        }
      }

      /* Styles for navigation icons */
      .fa {
        transition: 0.3s;
      }

      /* Styles navigation item text/tooltip */
      .tooltip {
        font-size: 1rem;
        margin-top: -0.25em;
        padding-bottom: 0.25em;
        text-transform: uppercase;

        /* Styles for small devices */
        @include breakpoint($mq_small) {
          font-size: 1.25rem;
        }
      }
    }
  }
}
