/* ==========================================================================
   Phone Wireframe
   ========================================================================== */

/* Styles for phone wireframe */
.phone {
  background-color: $white;
  border: 2px solid $middle_gray;
  border-radius: 16px;
  padding: 0 0.3em;
  position: absolute;
  right: -5%;
  top: 25%;
  z-index: 10;

  /* Styles for small devices */
  @include breakpoint($mq_small) {
    right: 0%;
  }

  /* Styles for top part of phone (camera, sensor, speaker) */
  .phone_top {
    margin: 0.2em 0 0.6em;
    text-align: center;
  }

  /* Styles for camera */
  .phone_camera {
    line-height: 0.75;

    /* Styles for camera span */
    span {
      background-color: $middle_gray;
      border-radius: 50%;
      display: inline-block;
      height: 8px;
      width: 8px;
    }
  }

  /* Styles for top parts of phone (sensor, speaker) */
  .phone_top-parts {
    line-height: 0.75;
    margin-left: -12px;

    /* Styles for sensor */
    .phone_sensor {
      background-color: $middle_gray;
      border-radius: 50%;
      display: inline-block;
      height: 4px;
      margin-right: 8px;
      width: 4px;
    }

    /* Styles for speaker */
    .phone_speaker {
      background-color: $middle_gray;
      border-radius: 4px;
      display: inline-block;
      height: 4px;
      width: 32px;
    }
  }

  /* Styles for phone image */
  .phone_photo {
    border: 2px solid $middle_gray;

    /* Styles for phone image */
    img {
      float: left;
      max-width: 100%;
    }
  }

  /* Styles for phone button (big one at bottom) */
  .phone_button {
    line-height: 0.75;
    margin: 0.2em 0;
    text-align: center;

    /* Styles for phone button span */
    span {
      border: 2px solid $middle_gray;
      border-radius: 50%;
      display: inline-block;
      height: 32px;
      width: 32px;
    }
  }
}
