/* ==========================================================================
   Header
   ========================================================================== */

/* Styles for the masthead */
#masthead {
  background: $blue url(/img/hero/hero_texture.png) fixed;
  color: $yellow;
  font-family: $ubuntu;
  max-width: 100%;
  padding: 0;
  position: static;
  text-align: center;
  width: 100%;

  /* Styles for medium and up devices */
  @include breakpoint($mq_medium) {
    background: none;
    padding: 17px 16px 0;
    position: fixed;
    text-align: left;
    z-index: 100;
  }

  /* Styles for big devices */
  @include breakpoint($mq_big) {
    padding-left: 24px;
    padding-right: 24px;
  }

  /* Styles for masthead when page is scrolling */
  &.scroll-header {
    background-color: rgba(16, 30, 67, 0.75);
    box-shadow: 0px 0px 8px #222;

    /* Styles for the navigation when the page is scrolling */
    .main-nav {
      background-color: rgba(16, 30, 67, 0.75);
      box-shadow: 0px 0px 8px #222;
      left: 0;
      position: fixed;
      top: 0;
      z-index: 100;

      /* Styles for medium and up devices */
      @include breakpoint($mq_medium) {
        background-color: transparent;
        box-shadow: none;
        position: static;
      }
    }
  }

  /* Styles for masthead images (circular photo) */
  img {
    border-radius: 50%;
    display: inline-block;
    float: none;
    margin: 0.4em 0 0;
    width: 50%;

    /* Styles for medium and up devices */
    @include breakpoint($mq_medium) {
      display: none;
    }
  }
}
