/* ==========================================================================
   Mixins
   ========================================================================== */

/**
 * Clearfix mixin to help not collapse elements with floated children.
 */
@mixin clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

/**
 * Mixin that will vertically align an element in the middle of
 * its container.
 */
@mixin vertical-align($top) {
  top: $top;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/**
 * Mixin that will align an element in the absolute middle of
 * its container.
 */
@mixin absolute-center($direction, $amount, $y) {
  left: 50%;
  #{$direction}: $amount;
  -webkit-transform: translate(-50%, $y);
  -ms-transform: translate(-50%, $y);
  transform: translate(-50%, $y);
}

/**
 * Mixin that will set colors and animate for button hovers.
 */
@mixin button-hover($background-color, $color) {
  color: $background-color;
  transition: all 0.3s;

  /* Hover styles */
  &:hover {
    background-color: $background-color;
    border-color: $background-color;
    color: $color;
    transition: all 0.3s;
  }

  /* Negate hover styles on touch devices */
  .touch & {
    background-color: transparent;
    color: $background-color;
  }
}
