/* ==========================================================================
   Layout
   ========================================================================== */

/* Media Queries
   ========================================================================== */
$small_max: 46rem;
$medium_min: 46.0625rem;
$medium_max: 62rem;
$large_min: 62.0625rem;
$large_max : 75rem;

$mq_small: max-width $small_max;
$mq_medium: $medium_min $medium_max;
$mq_not_large: max-width $medium_max;

/* ==========================================================================
   Colors
   ========================================================================== */
$body_gray: #666;
$middle_gray: #ccc;
$yellow: #FFDB00;
$blue: #101E43;
$white: #fff;

/* ==========================================================================
   Typography
   ========================================================================== */
$ubuntu: "Ubuntu", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$pt_sans: "PT Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
